mixin step-complete()
  +b.step#step_3.--sender
    +e.item
      +e.header
        +e.ttl Complete Application
      +e.body
        +b.choose-sender.border-grey.bg-white.flex.justify-content-center.text-center
          +e.item#step4_to_client
            button.js-choose-sender.btn.btn--square.btn--border(quote-send='Send to Client' type="button") Send to client
            a(href="#").color-dark.js-open-sendclient Why?
          +e.item.text.text-upper or
          +e.item#step4_yourself
            button.js-choose-sender.btn.btn--square.btn--border(quote-send='Complete it Here' type="button") Complete Yourself
