include step-industry
include step-quote
include step-complete
include step-submit

mixin steps()
  section#quoteSteps.section.section--steps.bg-grey
    .container
      h2.h1.text-center.ttl
        | Quick 
        span.color-blue.text-bold Quote 
        | Steps
      form.form.form--quote#form-quote(action="javascript:void(0);")
        .quote#quote

          +step-industry()
          +step-quote()
          +step-complete()
          +step-submit()
