mixin step-industry()
  +b.step#step_1.--industry
    +e.item
      +e.header
        +e.ttl Select Industry and then State
        +b.appointed.js-open-question
          | Not Yet Appointed?
      +e.body
        +b.industry.flex.bg-white
          +e.select.border-grey
            +e.header.flex.justify-content-between.align-items-center
              +e.header-ttl Select Industry Your Client Represents
            +e.list.flex.flex-wrap(id="cobs")

          +e.content.border-grey
            i.fa.fa-angle-down#industry-angle-down
            +e.content-header.flex.justify-content-between.align-items-start
              h4.h4 Risks We Cover
              +e.content-header-select
                  select.select.js-select-search(name="industry_state" data-placeholder="Select State" id="states")
                    option.disabled Choose State

            +e.content-inner.vertical-scroll#scroll-disable
              ul.risks

        +e.submit.step1-submit-alarm
            +e.step1-alarm
            button.js-next-step.btn.btn--border#btnStep1(type="button") Next
            +e.step1-alarm
              | * A broker must be licensed in the selected state.
