mixin step-quote()
  +b.step#step_2.--quotetype
    +e.item
      +e.header.flex.justify-content-between.has-question
        div.flex
          +e.ttl Choose Your Quoting Preference
        .question.js-open-companies.text-underline Companies we work with
      +e.body
        +b.choose.flex.align-items-center.justify-content-center
          +e.item#step_2_option_1
            +b.radio.radio--round
              label
                input(type="radio" name="quote_type" value="1" autocomplete="off" checked)
                +e.label.label Online Links
          +e.item#step_2_option_2
            +b.radio.radio--round
              label
                input(type="radio" name="quote_type" value="2" autocomplete="off")
                +e.label.label Explore an Instant Issue Quote
          +e.item#step_2_option_3
            +b.radio.radio--round
              label
                input(type="radio" name="quote_type" value="3" required autocomplete="off")
                +e.label.label Let’s Shop it Around Quickly

        +b.choose-blocks.bg-white
          +e.item.js-end-steps(data-type=1)
            +e.header Online Links
            +e.body
              +e.ttl.H4.h4.text-center Select Company
              +b.companies-wrap.flex.flex-wrap.align-items-start.text-center
                +b.company(id='U.S. Liability Ins.')
                  +e.A.link(href="https://services.usli.com/retail/home/index/11091DC6-905E-4e5c-9682-502042D66D32" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/img-company2.jpg", alt="")
                    +e.ttl USLI
                    +e.descr A+ Rated, Small Bus., Builders Risk, Special Events
                +b.company(id='OTSEGO')
                  +e.A.link(href="https://usdsoftware.com/otsego/#!/access/login#app" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/img-company3.jpg", alt="")
                    +e.ttl Otsego Mutual
                    +e.descr A+ Rated, NY Homeowners, 
                      span.nowrap 3 Year 
                      | Rate Guarantee
                +b.company(id='Hiscox')
                  +e.A.link(href="https://www.hiscox.com/partner-agent/simonagency" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/img-company4.jpg", alt="")
                    +e.ttl Hiscox
                    +e.descr A+ Rated, Small Business, BOP, GL and PL
                +b.company(id='Interboro Ins. Co.')
                  +e.A.link(href="https://interboroquickquote.com/IBPOSprod/login1.do" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/interboro.png", alt="")
                    +e.ttl Interboro Mutual
                    +e.descr A Rated, 1-4 Family - Owner Occupied Homes, NY
                +b.company(id='Kensingtone Ins.')
                  +e.A.link(href="https://quoting.kensington-ins.com/" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/img-company6.jpg", alt="")
                    +e.ttl Kensington
                    +e.descr A+ Rated Reinsureres, NY Homeowners Market
                +b.company(id='Kingstone Ins.')
                  +e.A.link(href="https://www.kingstoneinsurance.com" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/kingstone.png", alt="")
                    +e.ttl Kingstone
                    +e.descr A- Rated, Homeowners, Small Contractors, For Hire PD
                +b.company(id='Utica Insurance')
                  +e.A.link(href="http://agents.uticafirst.com/AgencyLink/Brokers.aspx" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/utica first.png", alt="")
                    +e.ttl Utica First
                    +e.descr A Rated, Contractors, Restaurants, Homeowners
                +b.company(id='UPC')
                  +e.A.link(href="https://upcprod.hostedinsurance.com/AgentPortal/login" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/upc.jpg", alt="")
                    +e.ttl UPC INSURANCE
                    +e.descr A Rated, Coastal Homeowners, Special Coverages
                +b.company(id='Stillwater Insurance Group')
                  +e.A.link(href="https://stillwaterinsurance.com/Common/login" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/stillwater2.png", alt="")
                    +e.ttl Stillwater Insurance Group
                    +e.descr 
                +b.company(id='Associated Mutual')
                  +e.A.link(href="https://www.associatedmutual.com/" target="_blank")
                    +e.img.flex.flex-column.justify-content-center.align-items-center
                      img(src="assets/images/associatedmutual.png", alt="")
                    +e.ttl Associated Mutual
                    +e.descr 

          +e.item(data-type=2)
            +e.header.has-question Explore an Instant Issue Quote
            +e.body.flex.justify-content-between.align-items-center
              +e.body-block
                dl
                  dt Industry Selected:
                  dd#step_2_industry
                  dt Available Products:
                  dd#step_2_products
                  dt Insurance Company:
                  dd
                    IMG.hiscox-icon(src="assets/images/hiscox.svg", alt="")
                  dt State Selected:
                  dd#step_2_state
              .question.js-open-program.text-underline Program Details
              +e.body-block.text-center
                +e.IMG.body-icon(src="assets/images/icon-doc.png", alt="")
                h5.h5 Quote, Bind & Issue Online in Minutes

          +e.item.bg-white(data-type=3)
            +e.header.has-question
              | Let’s Shop it Around Quickly
            +e.body
              +e.ttl.H4.h4.text-center Select Products
              .checkbox-list.flex.flex-wrap.justify-content-start
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Business Owners Policy")
                    +e.span.label Business Owners Policy
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Workers Comp")
                    +e.span.label Workers Comp
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Homeowners - Owner Occupied")
                    +e.span.label Homeowners<br> Owner Occupied
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Dwelling - Fire Tenant Occupied")
                    +e.span.label Dwelling Fire<br> Tenant Occupied
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Commercial Auto")
                    +e.span.label Commercial Auto
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="General Liability")
                    +e.span.label General Liability
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Property")
                    +e.span.label Property
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Package Policy")
                    +e.span.label Package Policy
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Directors & Officers")
                    +e.span.label Directors & Officers
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="EPLI")
                    +e.span.label EPLI
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Cyber")
                    +e.span.label Cyber
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Umbrella")
                    +e.span.label Umbrella
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Renters")
                    +e.span.label Renters
                +b.checkbox.checkbox--square-full.product-garage-liability
                  label
                    input(type="checkbox" name="custom_rate" value="Garage Liability")
                    +e.span.label Garage Liability
                +b.checkbox.checkbox--square-full
                  label
                    input(type="checkbox" name="custom_rate" value="Flood")
                    +e.span.label Flood
                +b.checkbox.checkbox--square-full.product-professional-liability
                  label
                    input(type="checkbox" name="custom_rate" value="Professional Liability")
                    +e.span.label Professional Liability
                +b.checkbox.checkbox--square-full.product-garage-keepers
                  label
                    input(type="checkbox" name="custom_rate" value="Garage Keepers")
                    +e.span.label Garage Keepers
        +e.submit
          button.js-next-step.btn.btn--border#btnStep2(type="button") Next
