dl
    margin 0
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    line-height 28px
    dt
        text-align right
        width 50%
    dd
        margin-left 0px
        padding-left 35px
        width 50%

.quote
    counter-reset list

.choose
    margin-top 45px
    margin-bottom 40px
    +below(1450px)
        margin-top 10px
        margin-bottom 15px
    +below(750px)
        margin-top 55px
    &-ttl
        font-size 22px
        font-weight 600
        +below(600px)
            font-size 18px
        + .choose
            margin-top 18px
            margin-bottom 30px
    &__item+&__item
        margin-left 40px
    &-blocks
        &__ttl
            margin-top 20px
            +below(1450px)
                font-size 24px
                line-height 26px
                margin-top 0px
                margin-bottom 15px
        &__item
            &:not(:first-child)
                display none
            &.active
                .quote-type__header
                    background blue
                    border-color blue
                    color #fff
                    .radio--round [type=radio]+.label:before, .radio--round [type=radio]+label.error+.label:before
                        border-color #fff
                    .radio--round [type=radio]+.label:after, .radio--round [type=radio]+label.error+.label:after
                        background #fff

        &__header
            font-size 26px
            padding 16px 35px 14px 35px
            letter-spacing 0.4px
            font-weight 700
            border 1px solid #88898c
            transition all .3s
            position relative
            font-family Raleway,Open Sans,sans-serif
            +below(1450px)
                font-size 20px
                padding 12px 35px 11px
            +below(1024px)
                font-size 24px
            +below(750px)
                &.has-question + .choose-blocks__body
                    //padding-top 60px
            +below(480px)
                font-size 20px
                padding 16px 25px 14px
                text-align center
            .question
                margin-left 164px
                vertical-align top
                +below(750px)
                    margin-left 0
                    position absolute
                    top calc(100% + 20px)
                    color blue
                    width 100%
                    left 0
                    text-align center
        &__body
            border 1px solid #88898c
            border-top 0
            padding 20px 35px 25px
            +below(1450px)
                padding 15px 35px 15px
            +below(1024px)
                flex-direction column
            +below(480px)
                padding 20px 25px 20px
            +below(360px)
                padding 15px 10px
            &-block
                padding 15px
                +below(750px)
                    padding 0
            &-block+&-block
                +below(1024px)
                    margin-top 20px
            &-icon
                margin-bottom 15px
                +below(1024px)
                    max-width 100px
                +below(480px)
                    max-width 70px

            dl
                max-width 435px
                +below(360px)
                    font-size 13px
                dd
                    +below(480px)
                        padding-left 10px 
                        line-height 14px   
                    +below(360px)
                        line-height 13px                

            &-block img.hiscox-icon
                    width 55%
                    vertical-align middle
                    margin-left 2px


.step
    &--sender
        .step__body
            +below(750px)
                margin-top: 20px;
    &--submit
        .step__body
            +below(750px)
                margin-top: 20px;
        .choose
            &-blocks
                &__item
                    display block
                    &:not(:last-child)
                        display none
                    .g-recaptcha
                        //display none
                    .jq-selectbox      
                        +below(480px)
                            line-height 18px
                    .js-select-industry
                        width 100%
                        font-size 17px
                        +below(1450px)
                            font-size 15px
                        .jq-selectbox__select
                            border 1px solid #b0b1b3
                            .jq-selectbox__select-text
                                padding 10px 30px
                                color #666
                                +below(480px)
                                    padding 10px 5px
                                    font-size 13px
                            .jq-selectbox__trigger
                                border-left 1px solid #b0b1b3  
                                +below(480px)
                                    width 35px
                                    height 35px
                    .input
                        +below(480px)
                            padding 10px 5px
                            font-size 13px
                    .submit-wrap
                        +below(775px)
                            flex-wrap wrap
                            justify-content center
                            .submit-wrap-btn
                                text-align center
                        +below(480px)
                            justify-content center
                        .btn
                            +below(775px)
                                margin-top 15px

    &--quotetype
        .js-next-step
            display none
        .js-open-program 
            +below(345px)
                margin-bottom 10px
        .choose
            +below(860px)
                margin: 10px auto;
                width: max-content;
                flex-direction column
                align-items flex-start
                .choose__item+.choose__item
                    margin-left 0px
                    margin-top 10px
        .checkbox-list
            +below(320px)
                justify-content center            
    .btn
        padding 14px 26px
        min-width 165px
        +below(750px)
            padding 10px 25px
            min-width 150px
    &:not(:nth-child(-n+1))
        display none
        margin-top 70px
        +below(480px)
            margin-top 35px
    &.done
        .step__check
            .icon
                opacity 1
    &--first
        margin-bottom 35px
    &__submit
        text-align center
        margin-top 35px
        +below(1450px)
            margin-top 15px
        .btn
            margin auto
            background-color white
            &:hover
                color white
                background-color blue
    &__check
        display inline-block
        margin-right 20px
        display flex
        align-items center
        position relative
        +below(350px)
            margin-right 10px
        &:before
            content ''
            position absolute
            height 26px
            width 26px
            border 3px solid #fff
            border-radius 6px
        .icon
            transition all 0.3s
            opacity 0
            height 32px
            width 37px
            fill #fff
    &__header
        display flex
        align-items center
        background #88898c
        color #fff
        font-size 29px
        line-height 36px
        font-weight 600
        padding 13px 40px 14px 100px
        position relative
        +below(1450px)
            font-size 24px
            line-height 30px
            padding-left 80px       
        &.has-question
            +below(1024px)
                margin-bottom 0px
            +below(768px)
                padding-right 10px
        +below(480px)
            font-size 20px
            line-height 26px
            padding 13px 20px 14px 65px
        +below(350px)
            font-size 18px
            padding 10px 10px 11px 65px
        &:before
            position absolute
            counter-increment list
            left 0
            top 0
            height 100%
            content counter(list)
            background #000000
            color #fff
            font-weight 700
            font-size 41px
            line-height 63px
            width 70px
            text-align center
            display flex
            justify-content center
            align-items center
            +below(1450px)
                width 57px
                font-size 35px
                line-height 57px
            +below(750px)
                font-size 30px
                line-height 54px
                width 50px

        .appointed
            margin-left auto
            text-transform uppercase
            text-decoration underline
            font-size 20px
            font-size 18px
            letter-spacing .3px
            font-family Open Sans,sans-serif
            transition all .3s
            +below(1450px)
                font-size 18px
            &:hover
                text-decoration none
            +below(750px)
                position absolute
                top calc(100% + 15px)
                color #16bba9
                width 100%
                left 0
                text-align center
                font-size 16px
        .question
            +below(750px)
                position absolute
                top calc(100% + 15px)
                color blue
                width 100%
                left 0
                text-align center
    &__body
        margin-top 32px
        +below(1450px)
            margin-top 20px
        +below(750px)
            margin-top 55px
        &-inner
            padding 40px 20px 50px
    &--industry
        .industry__content-header-select
            .js-select-search
                +below(500px)
                    width 100%
                    position absolute
                    top 15px
        .step__submit          
            +below(500px)
                margin-top 75px

.industry
    +below(1100px)
        flex-direction column
    &__select
        width 40%
        border-right 0
        border-right 1px solid #88898c
        +below(1100px)
            width 100%
            border-bottom 1px solid #88898c
        .h4
            font-size 32px
            margin-left 60px
            margin-top 10px
        &.error
            border-color red
    &__content
        width 60%
        font-size 15px
        border-left 0
        position relative
        +below(1100px)
            width 100%
            border-top 0
            border-left 1px solid #88898c
        +below(500px)
            border none
        .fa-angle-down
            display none
            font-size 40px
            position absolute
            bottom 0
            left 50%

    &__content-header
        position absolute
        padding 8px 8px 10px 60px
        z-index 2
        width 95%
        +below(500px)
            position relative
            display block
            padding 0px
            width 100%
        .h4
            flex 1
            margin-bottom 0
            font-family Open Sans,sans-serif
            font-size 20px
            font-weight 700
            +below(1450px)
                font-size 18px
            +below(1100px)
                text-align center
                margin-bottom 10px
            +below(500px)
                margin-bottom 0px
                display none
            
        .jq-selectbox
            margin-top 0
            margin-left 0px
    &__content-header-select
        margin-left 20px
        +below(500px)
            margin-left 0px
    &__content-inner
        height 100%
        &.vertical-scroll
            &.disabled
                .mCSB_container
                    height 95%
        .risks
            +below(1100px)
                margin 0

        +below(1100px)
            width 100%
            max-height 260px
            padding 30px 35px
        &.mCustomScrollbar        
            padding 34px 0
            display flex
            flex-direction column
            overflow hidden !important
            +below(1100px)
                padding 103px 0 23px
                max-height 400px
                display block
            +below(500px)
                display none
            .mCustomScrollBox
                padding 0 65px
                flex-basis 0px
                flex-grow 1
                overflow-y auto
                margin-top 10px
                +below(1100px)
                    margin-top 0
                    padding 0 35px
                +below(480px)
                    padding 0 20px
            .mCSB_scrollTools
                +below(500px)
                    display none !important
    &__header
        padding 12px 23px
        border-bottom 1px solid #88898c
        +below(480px)
            flex-direction column
        &-ttl
            font-size 20px
            font-weight 700
            +below(1450px)
                font-size 18px
            +below(480px)
                text-align center
        &-select
            margin-right 200px
    &__list
        .radio
            height 94px
            width calc(100% / 4)
            border-bottom 1px solid #88898c
            &:not(:nth-child(4n))
                border-right 1px solid #88898c
            &:nth-child(4n):nth-last-child(-n+5) ~ .radio
                border-bottom 0
            +below(1450px)
                height 55px
            +below(1100px)
                height 90px
            +below(480px)
                width calc(100% / 3)
                &:not(:nth-child(4n))
                    border-right 0
                &:not(:nth-child(3n))
                    border-right 1px solid #88898c
                &:not(:nth-last-child(-n+2))
                    border-bottom 1px solid #88898c
                &:nth-child(2n):nth-last-child(-n+5) ~ .radio
                    border-bottom 1px solid #88898c
                &:nth-child(3n):nth-last-child(-n+4) ~ .radio
                    border-bottom 0
                .label
                    font-size 11px


.jq-selectbox
    min-width 172px
    font-size 14px
    line-height 26px
    &__select
        display flex
        align-items center
        border 1px solid #88898c
        background #fff
        &-text
            padding 5px 18px
            color #949494
            flex-grow 1
    &__trigger
        width 43px
        height 43px
        border-left 1px solid #88898c
        display flex
        align-items center
        justify-content center
        cursor pointer
        &-arrow
            display inline-block
            font normal normal normal 14px/1 FontAwesome
            font-size inherit
            text-rendering auto
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            &:before
                content "\f0d7"
    &__dropdown
        border 1px solid #88898c
        width 100%
        background #fff
        ul
            margin 0
            li
                padding 4px 18px
                cursor pointer
                transition all 0.3s
                &.selected,&:hover
                    background rgba(136,137,140,0.2)
    &__search
        margin 5px
        display block!important
        input
            box-sizing border-box
            width 100%
            margin 0
            padding 5px 27px 6px 8px
            border 1px solid #88898c
            outline none
            background url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%
            color #333

    &__not-found
        padding 5px 8px 6px
        line-height 21px
        background rgba(136,137,140,0.2)

.choose-sender
    padding 40px 30px
    font-weight bold
    font-size 21px
    +below(1024px)
        flex-direction column
        align-items center
    +below(600px)
        font-size 16px
    .btn
        min-width 290px
        margin-bottom 17px
        display block
        padding 20px 26px
        +below(750px)
            padding 10px 25px
            min-width 220px
        &--border
            background #fff
            &:hover
                background blue
        &.disable
            opacity: 0.2
            pointer-events none
            color #9c9393
            border 2px solid #9c9393

    &__item
        &.text
            padding 20px 40px
            opacity 0.45
            +below(480px)
                padding 10px 30px

    &__item .js-open-sendclient.disable
        opacity: 0.2
        pointer-events none
        color #9c9393


.js-question
    display inline-block

.question
    display inline-block
    font-size 18px
    letter-spacing 0.3px
    font-family Open Sans,sans-serif
    transition all 0.3s
    +below(1450px)
        font-size 15px
    &__text
        display none
    &.text-underline
        text-transform uppercase
        &:hover
            text-decoration none
     &:not(.text-underline)
        &:hover
            color blue

.step1-submit-alarm
    display flex
    align-items center
    +below(1000px)
        flex-direction column
    .step__step1-alarm
        flex 1
        display none