mixin step-submit()
  +b.step#step_4.--submit
    +e.item
      +e.header
        +e.ttl
          | Submit - 
          span.quote-sender-ttl Complete it Here
      +e.body
        +b.choose-blocks.bg-white
          +e.item.border-grey.bg-white.block--padding(data-type=1)
            .layout-col2
              .input-wrap.w-100
                input.input(type="text" placeholder="Broker First Name" name="broker_first_name")
              .input-wrap.w-100
                input.input(type="text" placeholder="Broker Last Name" name="broker_last_name")
              .input-wrap.w-100
                input.input(type="email" placeholder="Broker Email" required name="broker_email")
              .input-wrap.w-100
                input.input#broker_phone(type="tel" placeholder="Broker Phone No" name="broker_phone")
              .input-wrap.w-100
                input.input(type="text" placeholder="Client First Name" name="client_first_name")
              .input-wrap.w-100
                input.input(type="text" placeholder="Client Last Name" name="client_last_name")
              .input-wrap.w-100
                textarea.input(placeholder="Which company is reviewing the case?" name="about_case")
            .submit-wrap.w-100.text-center
              input.btn#goToNo(type="button" value="CLOSE")
              //input#sender(type="hidden" value="client" name="sender")
          +e.item.border-grey.bg-white.block--padding(data-type=2)
            .container.container--sm
              .input-wrap.w-100
                select.select.js-select-industry(name="industry" data-placeholder="What is Your Client's Speciality?" id="industries")
                  option.disabled Industry - Select
              .input-wrap.w-100
                input.input(type="text" placeholder="Enter Business Name or Client Name" required name="business_name") 
              .input-wrap.w-100
                input.input(type="text" placeholder="Enter Your Email Address" required name="broker_id")
              .input-wrap.w-100
                 input.input#client_email(type="email" placeholder="Enter Client’s Email Address" required name="client_email")
              .input-wrap.w-100
                 input.input#client_confirm_email(type="email" placeholder="Confirm Client’s Email Address" required name="client_confirm_email" equalTo="#client_email")
              .submit-wrap.w-100.flex.align-items-center.justify-content-between
                a(href="#").color-black.js-open-forgotid Forgot My Broker ID#
                +b.question.js-open-question.justify-self-center
                  | Not Yet Appointed ?
                  +e.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce condimentum lectus ut turpis egestas tempus.
                //.g-recaptcha(data-sitekey="6LfhwFUUAAAAAKASmAPr9_Xn9T8RHXKqOX8L-c5B" data-callback="onSubmit" data-size="invisible")
                .submit-wrap-btn
                  button.btn.js-quote-submit(type="submit") Process Quote
                  input#sender(type="hidden" value="client" name="sender")
