extends ../layouts/main
include ../blocks/header/header
include ../blocks/appointment/appointment
include ../blocks/footer/footer
include ../blocks/modals/modals

block content
  - var isBroker = true
  - var pageTitle = 'SIMON AGENCY | Broker Appointment'
  - var pageDescription = 'New Markets & Online Binding Capabilities 516-214-8618'

  include ../blocks/head/head
  body
    .svg-sprite
      include ../blocks/sprite/svg.svg
    .content
      +header('appointment')
      section.section.section--hero.section--hero-inner
        .container.title-appointment
          h1.h0 Broker Appointment
      section.section.section--appointment.js-hfixed#appointment
        .container
          +appointment()
    +footer()
    +modals()    