extends ../layouts/main
include ../blocks/header/header
include ../blocks/appointment/appointment
include ../blocks/footer/footer
include ../blocks/modals/modals

block content
  - button = button || "highlights"
  - var homeurl = "/"
  - var isBroker = false
  - var pageTitle = 'SIMON AGENCY | Highlights'
  //- var pageDescription = 'New Markets & Online Binding Capabilities 516-214-8618'

  include ../blocks/head/head
  body
  .content
    HEADER.header(class='header-'+button)
      .container.flex.justify-content-between.align-items-center
        .logo
          a(href=homeurl)
            +b.h1.ttl.flex.align-items-center.justify-content-center
              img(src="assets/images/icon-logo-white.png", alt="")
              h3.h1.ttl Simon Agency
        +e.header__options.flex
          a.btn.btn-top-menu.btn--none-background(href="https://pay.xpress-pay.com/?pk=902") Xpress-Pay
          a.btn.btn-top-menu.btn--border.btn--white(href="#quoteSteps") Quote
          a.btn.btn-top-menu.btn--border.btn--white.js-open-menu Menu
          +b.menu.menu--main#menu
            ul
              li
                a(href="index.html#home") Home
              li
                a(href="index.html#quoteSteps") Quote
              li
                a(href="index.html#why") Why Simon?
              li
                a(href="index.html#about") About
              li.active
                a(href="highlights.html") Highlights
              li
                a(href="index.html#quoteSteps") Online Links
                //- a.js-online-link Online Links
              li
                a(href="tel:516-214-8618") 516-214-8618
              li
                a(href="index.html#contact") Contact
              li
                a(href="appointment.html") Broker Appointment
              li
                a(href="https://pay.xpress-pay.com/?pk=902") Xpress-Pay
          .overlay
    section.section.section--hero-hightlight.section--hero
      .container.flex.align-items-center
        .w-50
          h1.h1
            | Close More Business with Less Time and&nbsp;
            span  Ef
              span f
              | ort
    section.section.section--highlights.js-hfixed
      .container.flex.justify-content-between#hl
        .content--highlights
          .logo
            +b.h1.ttl.flex.align-items-center.justify-content-start
              img(src="assets/images/icon-logo-blue.png", alt="")
              h3.h1.ttl Broker Resources
          ul.list-check
            li 30+ Companies to Shop Around
            li Online Quoting for 8+ Companies
            li Instant Quote & Bind For 150+ Classifications
            li Underwriting Speed
            li 24/7 Service
            li Custom Rate Submission
            li Digital Automation
            li Call in Quote
            li Mobile Access
            li Business Development
            li API Development
            li TriQuote
            li High Commissions

        .content--highlights
          .logo
            +b.h1.ttl.flex.align-items-center.justify-content-start
              img(src="assets/images/icon-logo-blue.png", alt="")
              h3.h1.ttl Supported Industries
          ul.list-check
            li Architecture & Engineering
            li Artisan Contractors
            li Commercial Real Estate
            li Consulting
            li Creative & Design
            li Financial Servises
            li Garage & Dealer
            li Health, Beauty & Fitness
            li Homeowners
            li Janitorial Services
            li Landscaping Services
            li Legal Services
            li Livery
            li Marketing & Public Relations
            li Wholesalers & Manufactures
            li Real Estate
            li Restaurants, Bars & Food
            li Retail
            li Special Events
            li Technology
            li Other & Miscellaneous

        .content--highlights
          .logo
            +b.h1.ttl.flex.align-items-center.justify-content-start
              img(src="assets/images/icon-logo-blue.png", alt="")
              h3.h1.ttl Available Products
          ul.list-check
            li Business Owners Policy
            li Workers Comp
            li Homeowners - Owner Occupied
            li Dwelling Fire - Tenant Occupied
            li Commercial Auto
            li General Liability
            li Property
            li Package Policy
            li Directors & Officers
            li EPLI
            li Cyber
            li Umbrella
            li Renters
            li Flood
            li Professional Liability

    +footer()
