extends ../layouts/main
include ../blocks/header/header
include ../blocks/hero/hero
include ../blocks/video/video
include ../blocks/started/started
include ../blocks/steps/steps
include ../blocks/why/why
include ../blocks/about/about
include ../blocks/contacts/contacts
include ../blocks/footer/footer
include ../blocks/modals/modals

block content
  - var isHiscox = true
  - var pageTitle = 'SIMON AGENCY | Broker Client Application'
  - var pageDescription = 'Hiscox - Confirm you are a Human'

  include ../blocks/head/head
  body
    HEADER.top-header.top-header--fixed
      .container.container--top-header
        a(href="#").top-header__logo
          <svg class="icon" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 175"><style>.logo-wrap-svg{fill:#e2231a}</style><path class="logo-wrap-svg" d="M366.1 102.4c0 3.6 1.9 6.7 6.1 6.7 2.9 0 4.7-1.3 5.5-3.8h4.8c-1.1 5-5.3 7.7-10.3 7.7-7.1 0-11.1-5-11.1-12 0-6.5 4.2-12 11-12 7.2 0 11.6 6.5 10.7 13.3h-16.7zm11.7-3.3c-.2-3.2-2.3-6-5.7-6-3.5 0-5.9 2.6-6 6h11.7zM386.7 89.7h4.8V93l.1.1c1.5-2.5 4.1-4 7.1-4 4.9 0 8.1 2.6 8.1 7.7v15.6h-5V98.2c-.1-3.6-1.5-5.1-4.4-5.1-3.3 0-5.5 2.6-5.5 6v13.4h-5V89.7zM427.3 97.3c-.4-2.8-2.4-4.3-5.2-4.3-2.6 0-6.2 1.4-6.2 8.3 0 3.8 1.7 7.8 6 7.8 2.9 0 4.9-1.9 5.4-5.2h5c-.9 5.9-4.6 9.2-10.4 9.2-7.1 0-11-5.1-11-11.8 0-6.9 3.7-12.2 11.2-12.2 5.3 0 9.8 2.6 10.3 8.2h-5.1zM435.3 101.1c0-7 4.2-12 11.5-12s11.5 5 11.5 12-4.2 12-11.5 12-11.5-5-11.5-12zm18 0c0-3.9-2-8-6.5-8s-6.5 4.1-6.5 8c0 4 2 8.1 6.5 8.1 4.5-.1 6.5-4.2 6.5-8.1zM482.5 112.5h-4.9v-3.2h-.1c-1.2 2.3-4 3.8-6.5 3.8-5.9 0-8.5-3-8.5-8.9V89.7h5v14c0 4 1.6 5.5 4.4 5.5 4.2 0 5.6-2.7 5.6-6.2V89.7h5v22.8zM487.7 89.7h4.7v4.4h.1c.6-2.4 3.6-5 6.6-5 1.1 0 1.5.1 1.9.1V94c-.7-.1-1.5-.2-2.2-.2-3.4 0-6.2 2.8-6.2 7.8v10.8h-5V89.7zM522.3 107.4c0 1.2.3 1.7 1.2 1.7.3 0 .7 0 1.2-.1v3.5c-.7.3-2.3.6-3.2.6-2 0-3.5-.7-3.9-2.8-2 1.9-5.2 2.8-7.9 2.8-4.1 0-7.8-2.2-7.8-6.6 0-5.7 4.5-6.6 8.8-7.1 3.6-.7 6.8-.3 6.8-3.2 0-2.6-2.7-3.1-4.7-3.1-2.8 0-4.8 1.1-5 3.6h-5c.4-5.9 5.3-7.6 10.3-7.6 4.4 0 9.1 1.8 9.1 6.6v11.7zm-5-6.3c-1.5 1-4 1-6.2 1.4-2.2.4-4.1 1.1-4.1 3.8 0 2.2 2.9 2.9 4.6 2.9 2.2 0 5.6-1.1 5.6-4.3v-3.8zM548.7 111.3c0 6.8-4 10.2-11.2 10.2-4.6 0-9.7-1.8-10.2-7.1h5c.6 2.9 2.9 3.3 5.5 3.3 4 0 5.9-2.1 5.9-5.8v-3.5h-.1c-1.4 2.5-4 4-6.8 4-7.2 0-10.2-5.5-10.2-12 0-6.1 3.8-11.4 10.3-11.4 2.9 0 5.5 1.2 6.7 3.7h.1v-3.1h5v21.7zm-5-10.7c0-3.9-1.8-7.5-6.1-7.5-4.4 0-6 4.1-6 7.9 0 3.7 1.8 7.5 6 7.5 4.4 0 6.1-4 6.1-7.9zM557.7 102.4c0 3.6 1.9 6.7 6.1 6.7 2.9 0 4.7-1.3 5.5-3.8h4.8c-1.1 5-5.3 7.7-10.3 7.7-7.1 0-11.1-5-11.1-12 0-6.5 4.2-12 11-12 7.2 0 11.6 6.5 10.7 13.3h-16.7zm11.7-3.3c-.2-3.2-2.3-6-5.7-6-3.5 0-5.9 2.6-6 6h11.7zM377.6 131.3c-.4-2.8-2.4-4.3-5.2-4.3-2.6 0-6.2 1.4-6.2 8.3 0 3.8 1.7 7.8 6 7.8 2.9 0 4.9-1.9 5.4-5.2h5c-.9 5.9-4.6 9.2-10.4 9.2-7.1 0-11-5.1-11-11.8 0-6.9 3.7-12.2 11.2-12.2 5.3 0 9.8 2.6 10.3 8.2h-5.1zM385.6 135.1c0-7 4.2-12 11.5-12s11.5 5 11.5 12-4.2 12-11.5 12-11.5-5-11.5-12zm18 0c0-3.9-2-8-6.5-8s-6.5 4.1-6.5 8c0 4 2 8.1 6.5 8.1 4.5-.1 6.5-4.2 6.5-8.1zM432.7 146.5h-4.9v-3.2h-.1c-1.2 2.3-4 3.8-6.5 3.8-5.9 0-8.5-3-8.5-8.9v-14.4h5v14c0 4 1.6 5.5 4.4 5.5 4.2 0 5.6-2.7 5.6-6.2v-13.2h5v22.6zM438 123.7h4.7v4.4h.1c.6-2.4 3.6-5 6.6-5 1.1 0 1.5.1 1.9.1v4.8c-.7-.1-1.5-.2-2.2-.2-3.4 0-6.2 2.8-6.2 7.8v10.8h-5v-22.7zM472.6 141.4c0 1.2.3 1.7 1.2 1.7.3 0 .7 0 1.2-.1v3.5c-.7.3-2.3.6-3.2.6-2 0-3.5-.7-3.9-2.8-2 1.9-5.2 2.8-7.9 2.8-4.1 0-7.8-2.2-7.8-6.6 0-5.7 4.5-6.6 8.8-7.1 3.6-.7 6.8-.3 6.8-3.2 0-2.6-2.7-3.1-4.7-3.1-2.8 0-4.8 1.1-5 3.6h-5c.4-5.9 5.3-7.6 10.3-7.6 4.4 0 9.1 1.8 9.1 6.6v11.7zm-5.1-6.3c-1.5 1-4 1-6.2 1.4-2.2.4-4.1 1.1-4.1 3.8 0 2.2 2.9 2.9 4.6 2.9 2.2 0 5.6-1.1 5.6-4.3v-3.8zM499 145.3c0 6.8-4 10.2-11.2 10.2-4.6 0-9.7-1.8-10.2-7.1h5c.6 2.9 2.9 3.3 5.5 3.3 4 0 5.9-2.1 5.9-5.8v-3.5h-.1c-1.4 2.5-4 4-6.8 4-7.2 0-10.2-5.5-10.2-12 0-6.1 3.8-11.4 10.3-11.4 2.9 0 5.5 1.2 6.7 3.7h.1v-3.1h5v21.7zm-5-10.7c0-3.9-1.8-7.5-6.1-7.5-4.4 0-6 4.1-6 7.9 0 3.7 1.8 7.5 6 7.5 4.4 0 6.1-4 6.1-7.9zM508 136.4c0 3.6 1.9 6.7 6.1 6.7 2.9 0 4.7-1.3 5.5-3.8h4.8c-1.1 5-5.3 7.7-10.3 7.7-7.1 0-11.1-5-11.1-12 0-6.5 4.2-12 11-12 7.2 0 11.6 6.5 10.7 13.3H508zm11.7-3.3c-.2-3.2-2.3-6-5.7-6-3.5 0-5.9 2.6-6 6h11.7z"></path><g><path class="logo-wrap-svg" d="M152.2 62.4c1.8-17.9 11.5-28.5 11.5-38.8 0-7.5-2.8-13.9-11.5-23.6-8.7 9.7-11.5 16.1-11.5 23.6 0 10.4 9.7 21 11.5 38.8M133.4 60.2c-4.6 4.1-13.6 1.4-13.6-8.4 0-5.6 5.8-10.3 11.4-10.3 11.1 0 16.1 11.8 16.4 17.3.2 4.3-1.7 11.2-8.9 11.2 3.4-1.7 4.5-5.7 4.2-8.6-.4-3.4-2.6-7.9-7.4-7.9-2.7 0-4.7 1.7-4.7 3.6 0 1.6 1 3 2.6 3.1M171.1 60.2c4.6 4.1 13.6 1.4 13.6-8.4 0-5.6-5.8-10.3-11.4-10.3-11.1 0-16.1 11.8-16.4 17.3-.2 4.3 1.7 11.2 8.9 11.2-3.4-1.7-4.5-5.7-4.2-8.6.4-3.4 2.6-7.9 7.4-7.9 2.7 0 4.7 1.7 4.7 3.6 0 1.6-1 3-2.6 3.1"></path></g><g><path d="M65.4 88.8h8.2v57.9h-8.2zM44.2 88.8V114H9.7V88.8H1.5v57.9h8.2v-25.2h34.5v25.2h8.2V88.8zM292.9 88.8l-18.1 22-18.1-22h-10.1l23.1 27.9-24.9 30h10.1l19.9-24 19.7 24h10l-24.7-30 23.1-27.9z"></path><path d="M216.4 139.8c13 0 22.6-9.4 22.6-22.1 0-12.7-9.6-22.1-22.6-22.1-12.9 0-22.5 9.3-22.5 22.1 0 12.7 9.6 22.1 22.5 22.1m0-51.8c19.1 0 31.1 13.6 31.1 29.7 0 15.6-11.7 29.7-31.3 29.7-18.9 0-30.9-14-30.9-29.7.1-16 12.4-29.7 31.1-29.7M177.7 132c-4.1 4.8-10.3 7.8-17.5 7.8-12.9 0-22.5-9.4-22.5-22.1 0-12.7 9.6-22.1 22.5-22.1 7.1 0 13.1 2.8 17.2 7.3l4.3-7.3c-5.3-4.7-12.7-7.7-21.5-7.7-18.8 0-31.1 13.7-31.1 29.7 0 15.7 12 29.7 30.9 29.7 9.3 0 16.8-3.1 22.1-8.1l-4.4-7.2zM118.6 99.6c-4.6-3.9-10.3-4.8-14.2-4.8-5.9 0-11.1 2.6-11.1 7.5 0 11.1 29.6 11.2 29.6 29.6 0 12-12.2 16-21.7 15.5-6.4-.3-11.2-1.6-16.3-4.9v-8.2c5.1 3.3 9.8 5 15.2 5.5 6 .5 14.7-.9 14.7-8.1 0-12-29.8-12.3-29.8-28.2C85 94 93.4 88 103.5 88c6.6 0 10.9 1.4 15.1 3.8v7.8z"></path></g><path d="M329.4 44.4h4.8v130.1h-4.8z"></path></svg>
        .top-header--text Small Business Insurance
    Section.confirm.header-top-fixed
      .container
        .confirm__wrapper
          .confirm__item
            .steps
              .steps__item
                |Step 1:
                span.complete Completed
              .steps__item
                |Step 2:
                span Confirm you are a human
              .steps__item
                |Step 3:
                span Complete the application
          .confirm__item
            .confirm__subtitle Please confirm you are a human
            a#js-hiscox(href="#").btn--confirm I'm a Human
    Section.reviews
      .reviews__top
        .container
          h1.reviews__title Hiscox Customer Reviews
          .rated
            .rated__star
              svg.hiscox_rating__bar(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 299.6 55.4')
                defs
                  clippath#review-stars-clippath
                    path(d='M117.2,20.6l-17.4,13,6.9,21.8h0L89.1,41.5,71.53,55.4H71.4l6.9-21.9L60.8,20.6H82.5L89.1,0l6.6,20.6h21.5ZM10.64,55.37l17.66-14L46,55.4,39,33.6l17.4-13H34.9L28.3,0,21.7,20.6H0l17.5,13ZM156.4,20.6L149.8,0l-6.5,20.6H121.6L139,33.5l-6.9,21.9h0.1l17.7-14,17.52,13.86L160.6,33.7,178,20.6H156.4Zm121.6,0L271.4,0l-6.6,20.6H243.1l17.4,13-6.87,21.8h0.07l17.7-14,17.7,14-6.9-21.7,17.4-13.1H278Zm-60.8,0L210.6,0,204,20.6H182.3l17.5,13-6.86,21.77,17.66-14,17.52,13.86L221.3,33.7l17.4-13.1H217.2Z')
                rect.review-stars-background(width='100%', height='100%', clip-path='url(#review-stars-clippath)')
                rect.review-stars-foreground(width='94%', height='100%', clip-path='url(#review-stars-clippath)')
            .rated__text Hiscox rated 4.7 out of 5 with 10,808 reviews between 10-25-11 and 4-15-18.
      .reviews__wrapper
        .reviews__img
        .reviews__content
          .reviews__content-img
            <svg class="icon" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.8 31.81"><title>pi_17580_quotation</title> <g> <path d="M31.9.09c0,2,0,5.63,0,5.63l-1.69.83c-3.78,1.93-4.81,5.67-4.55,10h6.12V31.91h-14c-.09-.49-.12-12.09,0-17.42C17.94,7.16,24.36.53,31.9.09Z" transform="translate(-0.1 -0.09)"></path> <path d="M14.3.09c0,2,0,5.63,0,5.63l-1.69.83c-3.78,1.93-4.81,5.67-4.55,10h6.12V31.91H.18c-.09-.49-.12-12.09,0-17.42C.35,7.16,6.76.53,14.3.09Z" transform="translate(-0.1 -0.09)"></path> </g></svg>
          .reviews__content-desk I’m very happy with the rates (far better than the competition) and especially the customer service rep which helped me. I wish I could name her here because she was extremely helpful and knowledgable. One of the last few places when after you hang up the phone you say “WOW, that went really well!”
