extends ../layouts/main
include ../blocks/header/header
include ../blocks/hero/hero
include ../blocks/video/video
include ../blocks/started/started
include ../blocks/steps/steps
include ../blocks/why/why
include ../blocks/about/about
include ../blocks/contacts/contacts
include ../blocks/footer/footer
include ../blocks/modals/modals

block content
  - var pageTitle = 'SIMON AGENCY | P&C Wholesaler For Growth Focused Brokers'
  - var pageDescription = 'Simon Agency provides commerical & personal line retail insurance brokers with products, markets and online binding capabilities nationwide.  516-214-8618'

  include ../blocks/head/head
  body
    .svg-sprite
      include ../blocks/sprite/svg.svg
    .content
      +header('main')
      +hero()
      +started()
      +steps()
      +why()
      +about()
      +contacts()
    +footer()
    +modals()