mixin video()
  section.section.section--video#peek
    .container.container--sm.text-center
      h2.h1.ttl.ttl--icon Take a Peek
      .text.m-auto
        p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimu
      +b.video-play.js-open-video
