mixin contacts()
  section.section.section--contacts.bg-blue.bg-pattern#contact
    .container.container--sm.text-center
      h2.h1.ttl.ttl--icon Contact us
      form.form.form--contact.flex.flex-wrap.justify-content-between(action="#")
        .input-wrap.w-50
          input.input(type="text" placeholder="First Name" required name="contact_fname")
        .input-wrap.w-50
          input.input(type="text" placeholder="Last Name" required name="contact_lname")
        .input-wrap.w-50
          input.input(type="email" placeholder="Email Address" required name="contact_email")
        .input-wrap.w-50
          input.input(type="tel" placeholder="Telephone Number" required name="contact_phone")
        .input-wrap.w-100
          textarea.input(placeholder="Enter Questions" name="contact_comment")
        .submit-wrap.w-100.flex.align-items-center.justify-content-between
          +b.checkbox.checkbox--square
            label
              input(type="checkbox" required name="contact_robot")
              +e.span.label I’m not a Robot
          button.btn.btn--dark.js-send-contact(type="submit") Submit