mixin header(button)
  - button = button || "appointment"
  - var homeurl = "/"
  +b.HEADER.header(class='header-'+button)
    .container.flex.justify-content-between.align-items-center
      .logo
        a(href=homeurl)
          +b.h1.ttl.flex.align-items-center.justify-content-center
            img(src="assets/images/icon-logo-white.png", alt="")
            h3.h1.ttl Simon Agency
      +e.options.flex
        if button == "appointment"
          a.btn-appoint(href="tel:516-214-8618") Questions? &nbsp;
           SPAN 516-214-8618
          a.btn.btn-top-menu.btn--none-background(href="https://pay.xpress-pay.com/?pk=902") Xpress-Pay
          a.btn.btn-top-menu.btn--border.btn--white(href="index.html#quoteSteps") Quote
          a.btn.btn-top-menu.btn--border.btn--white.js-open-menu Menu
          +b.menu.menu--main#menu
            ul
              li
                a(href="index.html#home") Home
              li
                a(href="index.html#quoteSteps") Quote
              li
                a(href="index.html#why") Why Simon?
              li
                a(href="index.html#about") About
              li
                a(href="highlights.html") Highlights
              li
                a(href="index.html#quoteSteps") Online Links
                //- a.js-online-link Online Links
              li
                a(href="tel:516-214-8618") 516-214-8618
              li
                a(href="index.html#contact") Contact
              li.active
                a(href="appointment.html") Broker Appointment
              li
                a(href="https://pay.xpress-pay.com/?pk=902") Xpress-Pay
        else
          a.btn.btn-top-menu.btn--none-background(href="https://pay.xpress-pay.com/?pk=902") Xpress-Pay
          a.btn.btn-top-menu.btn--border.btn--white(href="#quoteSteps") Quote
          a.btn.btn-top-menu.btn--border.btn--white.js-open-menu Menu
          +b.menu.menu--main#menu
            ul
              li.active
                a(href="#home") Home
              li
                a(href="#quoteSteps") Quote
              li
                a(href="#why") Why Simon?
              li
                a(href="#about") About
              li
                a(href="highlights.html") Highlights
              li
                a(href="#quoteSteps") Online Links
                //- a.js-online-link Online Links
              li
                a(href="tel:516-214-8618") 516-214-8618
              li
                a(href="#contact") Contact
              li
                a(href="appointment.html") Broker Appointment
              li
                a(href="https://pay.xpress-pay.com/?pk=902") Xpress-Pay
      .overlay