.header
  position absolute
  width 100%
  top 0
  left 0
  z-index 10
  padding-top 48px
  //transition all 0.4s

  +below(750px)
    padding-top 30px
  &__options
    //margin-bottom 10px
    position relative
    & .btn-appoint
      color #fff
      margin-bottom 15px
      margin-top 10px
      font-size 20px
      +below(480px)
        margin-bottom 0
        font-size 18px
      span
        white-space nowrap
      
    & .btn-appoint:hover
        color #6a6a6a
  .btn
      min-width 145px
      padding 9px 30px
      &--none-background
          background-color transparent
          border-color transparent
          &:hover
            color #333232
      +below(1450px)
        min-width 0
        padding 9px 30px
        font-size 18px
      +below(750px)
        padding 9px 9px
      +below(500px)
        display none
  .logo
    +below(768px)
        flex 1
    img
      margin-right 25px 
      +below(1450px)
        margin-right 20px
        max-width 60px
      +below(750px)
        margin-right 15px
        max-width 40px
      +below(480px)
        max-width 38px
      +below(350px)
        margin-right 10px
        max-width 33px
    h3.h1
      color white
      font-size 50px
      +below(1450px)
        font-size 40px
      +below(750px)
        font-size 28px
        //font-weight 400
      +below(480px)
        font-size 23px
        //font-weight 400
    div.flex
      +below(1450px)
        //margin-bottom 10px
      +below(750px)
        margin-bottom 0px
  &__home
    display none
    font-size 20px
    font-weight 700
    text-transform uppercase       
    min-width 145px
    margin-right auto
    margin-left 30px
    margin-top 3px
    a
      color white
  &-appointment
    .header__options
      +below(500px)
        flex 1
  .container 
    +below(500px)
      padding 0 10px
  
.header_fixed_clone
  height 70px
.header_fixed
  position fixed 
  top 0 
  height 70px
  background #16bba9
  z-index 999
  padding 12px 0
  .logo
    img 
      display block
      +above(750px)
        max-width 45px
    h3.h1
      +above(750px)
        font-size 30px
  .header__home
    display block
    +below(750px)
      display none
  .header__options
    margin-bottom 0    
  +below(768px)
    padding: 0;
  +below(480px)
    padding: 12px 0;

.header-main
  .js-open-menu
    +below(500px)
      display flex!important
      margin-left 0px
      padding 9px

.js-open-menu
  margin-left 10px

#menu
  display none    
  position absolute
  background rgba(255,255,255,0.95)
  top 58px
  right -80px
  padding 7px 12px
  z-index 950
  box-shadow 0 0 10px rgba(0,0,0,0.1)
  width: 175px;
  +below(1380px)
    right auto
    left calc(50% + 24px);
  +below(1024px)
    left auto
    right -20px
  +below(600px)
    right 0px
  +below(480px)
    min-width 175px
  &:before
    content ''
    position absolute
    left calc(50% - 70px)
    top -12px
    border 6px solid transparent
    border-bottom 7px solid hsla(0,0%,100%,.95)
    +below(1380px)
      left calc(50% + 40px)
    +below(1024px)
      left calc(100% - 85px)
    +below(750px)
      left calc(100% - 44px)