.footer
    padding 33px 0
    font-size 16px
    position relative
    +below(1450px)
        font-size 14px
    +below(1024px)
        font-size 16px
    ul
        margin 0
    a
        color #fff
        &:hover
            color blue
    .menu--social
        margin-bottom 25px
    &__caption
        position absolute
        bottom 10px
        right 20px
        text-transform uppercase
.copyright
    margin-top 15px
    +below(1024px)
        flex-direction column
    &__text
        +below(440px)
            padding 0 17%
        +below(415px)
            padding 0 14%
        +below(385px)
            padding 0 11%
        +below(360px)
            padding 0 9%
        +below(340px)
            padding 0 15px
        + .menu
            margin-left 15px
            +below(1024px)
                margin-left 0
                margin-top 10px
    &--app
        margin-top 0
    .menu--footer 
        ul 
            li
                margin 0 9px
            li:before
                left -9px
            +below(1024px)
                justify-content center