mixin footer()
  if (isBroker)
    +b.FOOTER#footer.footer.text-center.bg-dark
      .container
        +b.copyright--app.flex.justify-content-center
          +e.text Copyright © 2018, Simon Agency. All rights reserved.
  else
    +b.FOOTER#footer.footer.text-center.bg-dark
      .container
        //- .menu.menu--social
        //-   ul.flex.justify-content-center
        //-     li
        //-       a(href="")
        //-         i.fa.fa-facebook(aria-hidden="true")
        //-     li
        //-       a(href="")
        //-         i.fa.fa-twitter(aria-hidden="true")
        //-     li
        //-       a(href="")
        //-         i.fa.fa-linkedin(aria-hidden="true")
        .menu.menu--footer
          ul.flex.justify-content-center
            li
              a(href="index.html#home") Home
            li
              a(href="index.html#quoteSteps") Quote
            li
              a(href="index.html#why") Why Simon
            li
              a(href="index.html#about") About
            li
              a(href="tel:516-214-8618") 516-214-8618
            li
              a(href="index.html#contact") Contact
            li
              a(href="appointment.html") Broker Appointment
        +b.copyright.flex.justify-content-center
          +e.text Copyright © 2018, Simon Agency. All rights reserved.
          //- .menu.menu--footer
          //-   ul.flex
          //-     li
          //-       a(href="") Sitemap
          //-     li
          //-       a(href="") Terms
          //-     li
          //-       a(href="") Privacy