.why
    .h1,.h3
        line-height 50px
        margin-bottom 0
        +below(1024px)
            line-height normal
            margin-bottom 10px
    .h6
        + div
            margin-top 85px
            +below(1024px)
                margin-top 35px
    .h5
        + div
            margin-top 60px
            +below(1024px)
                margin-top 35px
    .h4
        margin-bottom 0
        + div
            margin-top 45px
            +below(1024px)
                margin-top 35px
    .btn-wrap
        margin-top 55px
        +below(1450px)
            margin-top 25px
        +below(480px)
            margin-top 30px
    +below(1024px)
        flex-direction column
    &__left
        margin-top 100px
        width 45%
        +below(1450px)
            margin-top 60px
        +below(1024px)
            margin-top 0px
            width 100%
        .btn-wrap
            +below(500px)
                display none
    &__left .ttl
        display inline-block
        font-family Quicksand-Medium
        margin-bottom 30px
        +below(1450px)
            margin-bottom 15px
        & .i
            font-style italic
            font-weight 700

    &__right
        width 55%
        padding-left 60px
        +below(1024px)
            width 100%
            margin-top 50px
            padding-left 0px
        & .h1
            margin-bottom 60px
            +below(1450px)
                margin-bottom 20px
        .btn-wrap
            display none
            
#whySimon2 
    +below(500px)
        display none

#whySimon 
    +above(500px)
        display none    

.graph
    &__item
        width 50px
        +below(480px)
            width 35px
            padding-top 5px
    &__line
        border 1px solid blue
        width 100%
        height 445px
        display flex
        flex-direction column
        justify-content flex-end
        margin-bottom 20px
        +below(1450px)
            height 330px
        +below(750px)
            height 280px

    &__indicator
        width 100%
        background blue
    &__ttl
        color #333232
        font-size 17px
        line-height 22px
        min-width 85px
        transform-origin top right
        transform rotate(-90deg)
        justify-content flex-end
        text-align right
        left -85px
        height 50px
        display flex
        align-items center
        margin-bottom 100px
        position relative
        letter-spacing -0.3px
        +below(1450px)
            font-size 15px
        +below(1024px)
            margin-bottom 20px
        +below(480px)
            left -95px
            font-size 14px
            line-height 16px

.graph-control
    text-align center
    &__header
        border-bottom 1px solid #88898c
        font-weight 700
        padding 12px 10px
        text-transform uppercase
        font-size 21px
        +below(1450px)
            font-size 19px
    &__item
        height 105px
        padding 13px
        font-size 18px
        line-height 28px
        width calc(100% / 3)
        cursor pointer
        display flex
        align-items center
        justify-content center
        transition all 0.3s
        +below(1450px)
            font-size 14px
            line-height 20px
            height 70px
        +below(600px)
            font-size 14px
        +below(350px)
            font-size 13px
        &:hover,&.active
            background blue
            color #fff
        &:not(:nth-child(3n))
            border-right 1px solid #88898c
        &:not(:nth-last-child(-n+3))
            border-bottom 1px solid #88898c
    .small-caps
        font-variant small-caps
