mixin why()
  section.section.section--why.bg-white#why
    .container
      h3.h1#whySimon Why Simon Agency?
      +b.why.flex
        +e.left
          +b.ttl
            SPAN Not yet appointed?  Here is what you are missing
            SPAN.i - Choose One
          +b.graph-control.border-grey
            +e.header Select
            +e.list.flex.flex-wrap
              +e.item#graph-control1 Speed
              +e.item#graph-control2 Live Help
              +e.item#graph-control3 Direct Dial Access
              +e.item#graph-control4 Incentive Programs
              +e.item#graph-control5 Call in Quote
              +e.item#graph-control6 Mobile Access
              +e.item#graph-control7 Lead Generation
              +e.item#graph-control8 API Development
              +e.item#graph-control9 60+ Years Experience
              +e.item#graph-control10 Instant Issue
              +e.item#graph-control11 TriQuote
                SUB.small-caps tm
              +e.item#graph-control12 Timely Paid Commissions
          .btn-wrap.text-center
            a.btn.btn--border.btn--red(href="appointment.html") Broker Appointment
        +e.right
          h3.h1#whySimon2 Why Simon Agency?
          //h5.h5 Not yet appointed? Here's what your missing!
          +b.graph.flex.justify-content-between
            +e.item
              +e.line
                +e.indicator#graph-indicator1(style="height:100%;")
              +e.ttl Simon Agency
            +e.item
              +e.line
                +e.indicator#graph-indicator2(style="height:80%;")
              +e.ttl Wholesaler #1
            +e.item
              +e.line
                +e.indicator#graph-indicator3(style="height:60%;")
              +e.ttl Wholesaler #2
            +e.item
              +e.line
                +e.indicator#graph-indicator4(style="height:40%;")
              +e.ttl Wholesaler #3
            +e.item
              +e.line
                +e.indicator#graph-indicator5(style="height:60%;")
              +e.ttl Wholesaler #4
            +e.item
              +e.line
                +e.indicator#graph-indicator6(style="height:70%;")
              +e.ttl Insurance&nbsp;Co. Direct
          .btn-wrap.text-center
            a.btn.btn--border.btn--red(href="appointment.html") Broker Appointment