mixin hero()
  section.section.section--hero#home
    .container.flex.align-items-center
      .w-50
        h1.h1
          | Close More Business with Less Time and 
          span Ef
            span f
            | ort
        .text
          p Time is money. We understand. Our motto of "Close More Business with Less Time and Effort" has served our brokers well since 1955. Simon Agency provides retail insurance brokers with commercial & personal line markets nationwide.
        .btn-wrap.hero-btn
          a.btn.btn--border.btn--white.js-btn-animate(href="#see") See For Yourself