include ../bemto/bemto.pug
include ../mixins/mixins
include ../blocks/scripts/scripts

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })


doctype html
html(lang='en')
  block content
  block scripts
  +scripts(['https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', 'uploads/pickmeup.js', 'https://www.google.com/recaptcha/api.js', 'scripts/build.js?v='+Date.now()])
