mixin appointment()
  +b.FORM.form.form--appointment.text#form-appointment(action="#")
    +e.step
      p Thank you for your interest in becoming appointed with the Simon Agency.  Please complete the information requested below.  Upon receipt of your submission, an agency representative will reach out to answer questions and introduce you to available resources.  We look forward to the correspondence!
    +e.step.p-xl
      +e.ttl Here is what we need from you
      .flex.flex-wrap.justify-content-between
          .input-wrap.w-50
              label First Name
              input.input(type="text" required name="f_name")
          .input-wrap.w-50
              label Last Name
              input.input(type="text" required name="l_name")
          .input-wrap.w-50
              label Company Name
              input.input(type="text" required name="c_name")
          .input-wrap.w-50
              label Email Address
              input.input(type="email" required name="email")
          .input-wrap.w-50
              label Telephone
              input.input(type="tel" required name="tel")
          .input-wrap.w-50
              label Mailing Address
              input.input(type="text" required name="m_email")
          .input-wrap.w-50
              label City
              input.input.input-city(type="text" required name="city")
          .input-wrap.w-50.block-csz
              .input-wrap.w-66
                  label State
                  select.select.js-select.input#appointment_states(name="state" data-placeholder="Select State")
                      option.disabled Choose State
              .input-wrap.w-33
                  label Zip Code
                  input.input.input-zip-code(type="text" required name="zip_code")
          .input-wrap.w-100
              label What line of business are you most interested in writing?
              textarea.input(name="business")
    +e.step
      +e.ttl Upload Required Documents
      +b.upload.flex.align-items-center.first
        +e.ttl Copy of License
        +e.LABEL.input
          input(type="file" name="f_license" required)
          span upload
      +b.upload.flex.align-items-center
        +e.ttl Copy of E&O
        +e.LABEL.input
          input(type="file" name="f_eo" required)
          span upload
      +b.upload.flex.align-items-center
        +e.ttl.flex.align-items-center W-9&nbsp;
          A.flex(href="./docs/fw9-1.pdf" download="fw9-1.pdf")
            +e.IMG.img(src="assets/images/icon-pdf.jpg", alt="")
        +e.LABEL.input
          input(type="file" name="f_w9" required)
          span upload
      +b.upload.flex.align-items-center
        +e.ttl.flex.align-items-center Agreement&nbsp;
          A.flex(href="./docs/Simon Agency.pdf" download="Simon Agency.pdf")
            +e.IMG.img(src="assets/images/icon-pdf.jpg", alt="")
        +e.LABEL.input
          input(type="file" name="f_agreement" required)
          span upload

    +e.step
      +e.ttl Schedule a Time to Chat
      +b.shedule
        +e.item.flex.align-items-center
          +e.label Pick Date
          +e.input#datepicker-wrap.input-icon.input-icon--date
            input.input.input--shedule.datepicker(type="text" name="sheduledate" readonly)
        +e.item.flex.align-items-center
          +e.label Time Zone
          +e.input.SELECT.js-select.input.input--zone#sheduletimezone
            option(value="Pacific") Pacific Time
            option(value="Mountain") Mountain Time
            option(value="Central") Central Time
            option(value="Eastern" selected) Eastern Time
        +e.item.flex.align-items-center
          +e.label Pick Time
          +e.input#timePicker.timepicker.input-icon.input-icon--time
            input.input.input--shedule(rname="sheduletime" type="text" data-field="time" readonly)
            #dtBox

    +e.step
      .captcha-wrap
        div(class="g-recaptcha" data-sitekey="6Lcnz0wUAAAAAETEy5JCDWFRwoz3URludClBw7Uw" id="captcha1")
        input(type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha")
      .submit-wrap
        BUTTON.btn.js-form-submit(type="submit" id="ba_submit") Submit


