
.captcha-wrap
    +below(345px)
        transform scale(0.92)
        transform-origin 0

.block-csz
    display flex
    justify-content space-between
    .input.input-zip-code
        min-width 0
    .w-66, w-33
        flex 1
    .jq-selectbox__select
        border-color #b0b1b3
    select.js-select.error + label.error + .jq-selectbox__select
        border-color #f83e3e!important
    .input-wrap
        &.w-66, &.w-33
            margin-top 0!important
    +below(600px)
        display block
        .input-wrap
            &.w-33
                margin-top 15px!important
.submit-wrap
  &-btn
    width 220px
    text-align right 
    +below(480px)
      width auto
  .btn
    position relative
    &.animate
      width 55px
      height 55px
      min-width 0
      border-radius 50%
      color transparent
      &:hover
        background-color #16bba9
      &:after
        position absolute
        content ''
        width 20px
        height 20px
        border 4px solid #fff
        border-radius 50%
        border-left-color transparent
        left 50%
        top 50%
        transform translate(-50%, -50%)
        animation spin linear 2.5s infinite
      &.success
        &:before
          position absolute
          content '!'
          width 20px
          height 10px
          border 4px solid #fff
          border-right 0
          border-top 0
          left 50%
          top 46%
          transform translate(-50%,-50%) rotate(0deg) scale(0)
          animation: success ease-in 0.15s forwards;
        &:after
          display none
      &.errors
        position relative
        animation: vibrate ease-in 0.5s forwards;
        &:before
          position absolute
          content '!'
          font-size 28px
          font-weight bold
          text-align center
          left 50%
          top 50%
          transform translate(-50%, -50%)
          animation: error ease-in 0.3s forwards;
        &:after
          display none
@keyframes spin
  0%
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  100%
    transform: translate(-50%, -50%) rotate(720deg) scale(1);
@keyframes success
  from
    transform: translate(-50%, -50%) rotate(0) scale(0);
  to
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
@keyframes vibrate
  0%, 30%, 60%, 85%, 100%
    left 0
    background-color #f44336
    border-color #f44336
  10%, 40%, 90%, 70%
    left -2px
    background-color #f44336
    border-color #f44336
@keyframes error
  from
    transform: translate(-50%, -50%) scale(0);
    color #f44336
  to
    transform: translate(-50%, -50%) scale(1);
    background-color: #f44336;
    color #fff
