head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  //- meta(name='robots' content='none')

  meta(name='imagetoolbar' content='no')
  meta(name='msthemecompatible' content='no')
  meta(name='cleartype' content='on')
  meta(name='HandheldFriendly' content='True')
  meta(name='google' value='notranslate')
  meta(name="theme-color" content="#ffffff")

  meta(http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT")
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-Control" content="no-cache")
  meta(http-equiv="Cache-Control" content="private")
  meta(http-equiv="Cache-Control" content="max-age=0, must-revalidate")
  meta(http-equiv="Cache-Control" content="max-age=0, proxy-revalidate")

  if (isHiscox)
    link(rel='shortcut icon' type='image/png' href='favicon-hiscox.png')
    link(rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-hiscox.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32-hiscox.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16-hiscox.png")
  else
    link(rel='shortcut icon' type='image/png' href='favicon.png')
    link(rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")

  link(rel="manifest" href="manifest.json")
  link(rel="mask-icon" href="safari-pinned-tab.svg" color="#749fbb")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Raleway:400,600,700" rel="stylesheet")

  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content='')

  block head
  title= pageTitle || 'Simon Agency'

  if (isHiscox)
    link(href='assets/styles/main-hiscox.css?t=' + timestamp rel='stylesheet')
  else
    link(href='assets/styles/main.css?t=' + timestamp rel='stylesheet')
