mixin about()
  section.section.section--about.text-center.bg-grey
    .container
      +b.carousel.carousel--team
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/ace.jpg", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/adirondack.jpg", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/amtrust.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/applied underwriters.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/chubb.jpg", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/cna.jpg", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/constitution_global_logo.jpg", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/dongbu.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/employers.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/hiscox.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/hyundai.jpg", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/interboro.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/kensington.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/kingstone.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/lancer.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/lloyds.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/mountain valley.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/naragansett bay.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/national general.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/new jersey skylands.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/ocean harbor.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/otsego.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/seneca.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/stillwater.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/travelers.jpg", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/universal_property_logo.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/upc.jpg", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/usli.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/utica first.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/westchester.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/wkfc.png", alt="")
        +e.item.partner.flex.flex-column.justify-content-center.align-items-center.bg-white
          img(src="assets/images/wright flood.png", alt="")
      +b.h1.ttl.flex.align-items-center.justify-content-center#about
        h3.h1.ttl About
      +b.citation.text-center
        .flex.align-items-center.justify-content-center
          +e.item.content-item-flex-3
            +e.author Steve Diamond
            +e.author-pos President, CEO
      .text.m-auto
        p Simon Agency is&nbsp;a&nbsp;national commercial and personal lines insurance wholesaler. Founded in&nbsp;1955, the company provides retail insurance brokers with new products, markets and online binding capabilities. As&nbsp;a&nbsp;"high tech high touch" organization, the Simon team focuses on&nbsp;helping brokers close more business with less time and effort. 
          a(href="#quoteSteps").text-underline See for yourself
      +b.citation.text-center
      //-   .flex.align-items-center.justify-content-center
      //-     +e.item.content-left-item
      //-     +e.item.content-item-flex-3
      //-       +e.author Steve Diamond
      //-       +e.author-pos President, CEO
      //-     +b.video-play.js-open-video.bg-white
      //-     +e.item.content-item-flex-3
      //-     +e.item.content-right-item      
      //-   .btn-wrap
      //-     a.btn(href="#see") See For Yourself

      +b.contact-list.flex.justify-content-center.align-items-center
        +e.item.flex.align-items-center.content-left-item
          +e.text 14 Front Street, Hempstead NY 11550
        +e.icon.bg-full-green
        +e.item.flex.align-items-center
          +e.text
            a(href="tel:1-516-214-8618") 1-516-214-8618
        +e.icon.bg-full-green
        +e.item.flex.align-items-center.content-right-item
          +e.text
            a(href="mailto:insurance@simonagency.com?subject=Dedicated Team Request - SimonAgency.com") Insurance@SimonAgency.com




