.citation
    margin 75px 0
    +below(1450px)
        margin 40px 0
    +below(750px)
        margin 20px 0
    &__ttl
        font-size: 29px;
        line-height: 33px;
        margin-bottom: 20px;
        font-style: italic
        +below(1450px)
            font-size: 24px
        +below(480px)
            font-size: 22px
    &__author
        font-weight: 700
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        +below(1450px)
            font-size: 16px
        +below(480px)
            font-size: 14px
        +below(400px)
            font-size: 10px    
    &__author-pos
        font-size: 18px
        line-height: 25px;
        margin-top: 7px;
        +below(1450px)
            font-size: 16px
        +below(480px)
            font-size: 14px
        +below(400px)
            font-size: 10px
    .btn-wrap
        margin-top: 27px

#about
    & img
        margin-right 25px
        margin-top 30px
        +below(500px)
            margin-right 5%
    & h3.h1
        margin-top 30px
        +below(750px)
            margin-top 20px
    +below(750px)
        margin-bottom 15px

.section--about
    .content-item-flex-3
        flex 3
        +below(400px)
            flex auto
    .content-left-item
        justify-content flex-end
        flex 5
        +below(1024px)
            flex 2
        +below(400px)
            flex auto
    .content-right-item
        flex 5
        +below(1024px)
            flex 2        
        +below(400px)
            flex auto
    .text
        max-width 90%
        +below(568px)
            text-align: start
            max-width 85%
    .contact-list
        +below(1024px)
            &__icon
                display none
            &__item
                &:before
                    content " "
                    border 1px solid #16bba9
                    border-radius 50%
                    background-color #16bba9
                    width 5px
                    height 5px
                    margin-right 5px