.started
    height 100%
    position relative
    &__img
        position: absolute
        height 775px
        width 1147px
        top 50%
        right calc(50% + 40px)
        transform translateY(-50%)
    &__content
        width 50%
        padding-left 35px

#team_example
    display none