mixin started()
  section.section.section--started.bg-white.js-hfixed#see
    .container.text-center
      h2.h1.ttl Let's Get Started
      p
        | Our TriQuote 
        sup TM
        |  system provides access to Online, Instant Issue and or traditional “Shop it Around” quoting capabilities from 50+ insurance companies.  At the click of a simple button, secure coverage from your mobile, desktop and tablet devices for over 175 classifications and markets.
      .mb-70.mt-70
        a.btn.btn--circle(href="#quoteSteps") Go
      .link.link--team.text-upper.text-underline.js-toggle-team Your Dedicated Team
      +b.team.js-block-team#team
        +e.UL.filter.flex.justify-content-center.align-items-center
          +e.LI.filter-link(data-filter='Leadership') Executives
          +e.LI.filter-link(data-filter='Underwriting') Underwriting
          +e.LI.filter-link(data-filter='Service') Service
          +e.LI.filter-link(data-filter='Accounting') Accounting
        +e.container
          +e.close.close.close--dark.js-toggle-team X
          +e.container-inner.vertical-scroll#scroll-leadership
            +e.list.flex.flex-wrap#team_list
            +e.item#team_example
              +e.item-img
                img.logo(src="assets/images/logo.svg", alt="")
                +e.contacts.flex.flex-column.justify-content-center.align-items-center
                  +e.contacts-item
                    +e.contacts-ttl.has-icon.--mail Email
                    +e.contacts-value.js-contact-email
                      a(href="")
                  +e.contacts-item
                    +e.contacts-ttl.has-icon.--tel Telephone
                    +e.contacts-value.js-contact-phone
                      a(href="")
              +e.item-ttl
              +e.item-position-post
              +e.item-position   
              +e.item-contact
                a(href="") Contact