@import 'variables'
@import 'mixins'

.hero
    height 100vh
    min-height 650px
    color #fff
    .h1
        margin-bottom 0
    &__video
        position absolute
        height 100%
        width 100%
        overflow hidden
        &:before
            content ""
            position absolute
            height 100%
            width 100%
            background rgba(0,0,0,0.2)
            z-index 1
            left 0
            top 0
        video
            position absolute
            right 0
            bottom 0
            top 50%
            transform translateY(-50%)
            right 0
            width 100%
            height auto
            min-width 100%
            min-height 100%
            background-size 100% 100%
            background-position center center
            background-size contain
            object-fit cover
    &__content
        position relative
        z-index 2
        height 100%
        padding-bottom 190px


.shedule
    &__item+&__item
        margin-top 32px
        +below(1024px)
            margin-top 15px
    &__label
        width 117px
    &__input,&__input.input
        width 325px
        +below(480px)
            width 255px

.form
    &--contact
        margin-top 45px
        .input
            padding 11px 17px
            width 100%
            border 2px solid #fff
            //box-shadow none
            -webkit-appearance none
        .btn
            min-width 150px
            font-size 18px
        +below(480px)
            margin-top 25px
            .submit-wrap
                flex-direction column
    &--appointment
        .submit-wrap
            margin-top 33px
            +below(600px)
                margin-top 25px

        .input-wrap + .input-wrap
            margin-top 25px
            +below(1024px)
                margin-top 15px
        .input-wrap
            &.w-66, &.w-50, &.w-33
                margin-top 0px
                &:not(:nth-child(-n+2))
                    margin-top 25px
                    +below(1024px)
                        margin-top 15px
                +below(1024px)
                    margin-top 15px

    &__step
        padding 45px 0
        +below(1450px)
            padding 35px 0
        +below(480px)
            padding 25px 0
        &.p-xl
            padding 60px 0 50px
            +below(1450px)
                padding 40px 0
            +below(1024px)
                padding 35px 0
            +below(480px)
                padding 25px 0
        &:first-child
            padding-top 0
            padding-bottom 33px
            +below(480px)
                padding-bottom 25px
        &:last-child
            padding-bottom 0
            padding-top 33px
            +below(480px)
                padding-top 25px
        &:not(:last-child)
            border-bottom 1px solid grey
    &__step.error
        .captcha-wrap
            display inline-block
            border 1px solid #f83e3e

    &__ttl
        font-weight 600
        font-size 25px
        margin-bottom 35px
        letter-spacing 0.4px
        color #3e3e3e
        font-family Raleway,Open Sans,sans-serif
        +below(1450px)
            font-size: 22px;
            margin-bottom: 24px;
        +below(480px)
            font-size 18px
            margin-bottom 15px

textarea
    height 113px
    resize none

label.error
    display none!important

.input
    padding 13px 30px
    width 100%
    border 1px solid #b0b1b3
    outline none
    color #000
    line-height 23px
    background #fff
    border-radius 0
    -webkit-appearance none
    +below(600px)
        padding 10px 20px
    &--zone
        &.jq-selectbox
            font-size 17px
            z-index 2!important
            +below(750px)
                font-size 14px
            .jq-selectbox__select-text
                color #000
        .jq-selectbox__trigger-arrow
            display flex
            flex-direction column-reverse
            line-height 9px
            color #6a6a6a
            &:after
                content "\f0d8"
    &-icon
        position relative
        > input
            padding 13px 20px
            padding-right 51px
            background transparent
            position relative
            z-index 1
            cursor pointer
            +below(600px)
                padding 10px 20px
                padding-right 41px
        &:before
            content ""
            position absolute
            width 51px
            height 100%
            right 0
            top 0
            border-left 1px solid #b0b1b3
            z-index -1
            +below(600px)
                width 41px
        &:after
            position absolute
            content ""
            width 51px
            right 0
            top 0
            right 0
            text-align center
            display inline-block
            font normal normal normal 44px/51px FontAwesome
            font-size 18px
            text-rendering auto
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            transition all 0.3s
            +below(600px)
                width 41px
                line-height 41px
        &--date
            &:after
                content "\f073"
        &--time
            &:after
                content "\f017"

    &.jq-selectbox
        padding 0
        border 0
        .jq-selectbox__select,.jq-selectbox__trigger
            border-color #b0b1b3
        .jq-selectbox__trigger
            height 49px
            width 49px
            +below(600px)
                width 41px
                height 39px
        .jq-selectbox__select-text
            +below(600px)
                padding 5px 18px
    &--time
        background url(../images/clock.png) 15px center no-repeat
        padding-left 25px
        background-size 20px
    &-wrap + &-wrap
        margin-top 15px
    &-wrap
        position relative
        label
            font-size 16px
            margin-bottom 8px
            display block
            +below(1450px)
                font-size 14px

        &.w-66
            margin-top 0
            max-width calc(((100% - 25px) / 3) * 2)
            +below(600px)
                max-width 100%
                width 100%
                margin-top 15px
            &:not(:nth-child(-n+2))
                margin-top 15px
        &.w-50
            margin-top 0
            max-width calc((100% - 25px) / 2)
            +below(600px)
                max-width 100%
                width 100%
                margin-top 15px
            &:not(:nth-child(-n+2))
                margin-top 15px
        &.w-33
            margin-top 0
            max-width calc((100% - 25px) / 3)
            +below(600px)
                max-width 100%
                width 100%
                margin-top 15px
            &:not(:nth-child(-n+2))
                margin-top 15px
    &::-webkit-input-placeholder
        color #666666
    &::-moz-placeholder
        color #666666
    &:-ms-input-placeholder
        color #666666
    &:-moz-placeholder
        color #666666
    &.error
        border-color red
.submit
    &-wrap
        margin-top 30px
        font-size 19px
        +below(600px)
            margin-top 25px
            font-size 16px
        .question
            color black
            font-size: 19px
        &.flex
            +below(775px)
                flex-wrap wrap
                .question,a
                    flex 0 1 50%
                .question
                    text-align right
                .btn
                    +below(480px)
                        margin-top 20px
            +below(480px)
                .question,a
                    flex 0 1 100%
                    text-align center
                .question
                    margin-top 10px
.btn
    cursor pointer
    outline none
    display inline-block
    background-color blue
    text-align center
    padding 12px 26px
    border 2px solid blue
    border-radius 30px
    font-size 20px
    line-height normal
    text-transform uppercase
    font-weight 700
    transition all 0.3s
    min-width 170px
    color #fff
    +below(1450px)
        font-size 16px
        min-width 140px
    +below(750px)
        padding 10px 25px
        font-size 17px
        min-width 0
    &:hover
        background-color transparent
        color blue

    &-wrap
        margin-top 35px

    &--border
        background-color transparent
        color blue
        &:hover
            background-color blue
            color #fff

    &--white
        color blue
        background-color #fff
        border-color #fff
        &:hover
            color #fff

        &.btn--border
            background-color transparent
            color #fff

        &:hover
            background-color #fff
            color blue

    &--dark
        color #fff
        background-color xxgrey
        border-color xxgrey
        &:hover
            color xxgrey
            background-color transparent
            border-color xxgrey

    &--red
        color #fff
        background-color #f83e3e
        border-color #f83e3e
        &:hover
            color #f83e3e
            background-color transparent
            border-color #f83e3e

    &--square
        border-radius 0
        padding 18px 30px

    &--circle
        display flex
        align-items center
        justify-content center
        margin auto
        min-width 0
        width 130px
        height 130px
        font-size 35px
        font-weight 400
        border-radius 50%
        background-color blue
        +below(750px)
            font-size 25px
            min-width 0
            width 80px
            height 80px
    &.disabled:not(.animate),&[disabled]:not(.animate)
        pointer-events none
        background #b0b1b3
        border-color #b0b1b3

.scale--btn
    -webkit-transform scale(1.2)
    transform scale(1.2)
    -webkit-transition-timing-function cubic-bezier(0.47, 2.02, 0.31, -0.36)
    transition-timing-function cubic-bezier(0.47, 2.02, 0.31, -0.36)
    -webkit-transition-duration 0.3s

.scale--video
    -webkit-transform scale(1.2)
    transform scale(1.2)
    -webkit-transition-timing-function cubic-bezier(0.47, 2.02, 0.31, -0.36) !important
    transition-timing-function cubic-bezier(0.47, 2.02, 0.31, -0.36) !important
    -webkit-transition-duration 0.3s !important



.layout
    &-col2
        columns 2
        column-gap 30px
        +below(1024px)
            columns 1
            column-gap 0px
        textarea
            height 117px
    &-col3
        columns 3
        column-gap:15px
        +below(1024px)
            columns 2
            column-gap 30px
        +below(500px)
            columns 1
            column-gap 30px

.link
    color blue
    &:hover
        text-decoration none
    &--team
        font-size 20px
        +below(1450px)
            font-size 18px


.menu
    &--main
        ul
            margin 0
            li
                a
                    color xxxgrey
                    font-size 16px
                    font-family Raleway,Open Sans,sans-serif
                    &:hover
                        color blue
                &.active
                    a
                        color blue
            li + li
                margin-top 8px

    &--social
        ul
            margin 0
            li
                a
                    display block
                    height 38px
                    width 38px
                    border 2px solid #fff
                    line-height 36px
                    border-radius 50%
                    text-align center
                    &:hover
                        color blue
                        border-color blue
                    .fa-linkedin
                        right -1px
                        position relative
                    i
                        font-size 18px
            li+li
                margin-left 10px

    &--footer
        ul
            margin 0
            +below(1024px)
                flex-wrap wrap
            li
                position relative
                margin-left 16px
                margin-right 16px
                &:not(:first-child)
                    &:before
                        position absolute
                        content ""
                        height 16px
                        width 1px
                        background #fff
                        top 50%
                        margin-top -8px
                        left -16px
                &:nth-child(5), &:nth-child(7)
                    &:before
                        +between(390px, 449px)
                            display none
                &:nth-child(4), &:nth-child(7)
                    &:before
                        +between(341px, 389px)
                            display none
                &:nth-child(4), &:nth-child(6)
                    &:before
                        +below(340px)
                            display none
                &:nth-child(7)
                    &:before
                        +between(613px, 830px)
                            display none
                &:nth-child(6)
                    &:before
                        +between(523px, 613px)
                            display none
                &:nth-child(5)
                    &:before
                        +between(449px, 523px)
                            display none
    &-toggler
        margin-left 20px
        width 73px
        cursor pointer
        position relative
        transition all 0.3s
        margin-right -10px
        z-index 950
        +below(600px)
            width 55px
            margin-left 10px
        +below(480px)
            min-height 30px
            margin-top 10px
        span
            position absolute
            right 10px
            top 50%
            width 44px
            height 5px
            margin-top -2.5px
            background-color #fff
            transition all 0.3s
            +below(600px)
                height 4px
                width 39px
            &:before,&:after
                position absolute
                width 100%
                height 5px
                background #fff
                content ''
                right 0px
                +below(600px)
                    height 4px
            &:after
                width 53px
                bottom -11px
                +below(600px)
                    width 48px
            &:before
                top -11px
                width 36px
                +below(600px)
                    width 31px


.ttl
    margin-bottom 30px
    &--icon
        position relative
        margin-bottom 20px
        &:before
            content ""
            margin-right 25px
            margin-left -10px
            position relative
            margin-top -4px
            width 71px
            height 71px
            background url('../images/icon-logo-blue.png') center no-repeat
            display inline-block
            vertical-align middle
            +below(750px)
                background-size 60px
                width 60px
                height 60px
                margin-right 15px
            +below(480px)
                background-size 50px
                width 50px
                height 50px
            +below(350px)
                display none

.video
    object-fit cover
    min-height 70vh
    display block
    max-width 100%
    max-height 90vh
    +below(1100px)
        min-height 0vh
        width 85vw
    &-play
        position relative
        width 163px
        height 163px
        margin 25px auto
        border 2px solid blue
        border-radius 50%
        z-index 1
        cursor pointer
        transition all 0.3s
        +below(1450px)
            width 150px
            height 150px
        +below(1024px)
            width 130px
            height 130px
        +below(750px)
            width 100px
            height 100px
        +below(400px)
            width 80px
            height 80px
            margin-right 0
        +below(350px)
            width 70px
            height 70px
        &:before
            position absolute
            content "\f04b"
            transform translate(-50%,-50%)
            top 50%
            left 50%
            margin-left 8px
            color #16bba9
            display inline-block
            font normal normal normal 44px/1 FontAwesome
            font-size 73px
            text-rendering auto
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            transition all 0.3s
            +below(1450px)
                font-size 60px
            +below(1024px)
                font-size 55px
            +below(750px)
                font-size 40px
                margin-left 5px
        &:hover
            border-color xxgrey
            &:before
                color xxgrey
.modal--video
    .video-play
        position absolute
        top 50%
        left 50%
        margin-left -81px
        margin-top -81px

.carousel
    &--team
        margin-bottom 30px
        +below(1024px)
            margin 40px 40px 15px
    &__item
        border 1px solid #afafaf
        height auto!important
        padding 13px
    .slick-track
        display flex
    .slick-slide
        margin 0 15px
    .slick-list
        margin 0 -15px
        +below(1024px)
            margin 0
    .slick-initialized .slick-slide
        display flex

.person
    &__name
        font-size 22px
        color #333232
        text-transform uppercase
        font-weight 600
    &__position
        font-style italic
        line-height 24px

.text
    max-width 80%
    +below(1024px)
        max-width 100%

.nowrap
    white-space nowrap

.m-auto
    margin auto


.contact-list
    font-size 18px
    +below(1450px)
        font-size: 16px
    +below(1024px)
        flex-direction column
        align-items center
    +below(350px)
        font-size 14px
    &__text
        +below(1024px)
            text-align left
            flex 1
    &__item + &__item
        margin-left 45px
        +below(1450px)
            margin-left 15px
        +below(1024px)
            margin-left 0
            margin-top 10px
    a
        color xgrey
        &:hover
            color blue
    &__icon
        width 60px
        height 60px
        border 1px solid blue
        border-radius 50%
        margin-right 25px
        +below(480px)
            margin-right 15px
            width 50px
            height 50px
        i
            font-size 28px
            line-height 58px
            color blue
            +below(480px)
                font-size 23px
                line-height 48px

.checkbox
    &-list
        +between(450px, 710px)
            justify-content space-between
        +between(940px, 1025px)
            justify-content space-between
        margin-top 10px
        +below(1450px)
            margin-top 0px
        +below(1024px)
            flex-wrap wrap
        .checkbox
            margin-top 25px
            width calc(100% / 8)
            +below(1450px)
                margin-top 15px
                &:nth-child(-n+8)
                    margin-top 0
            +below(1024px)
                margin-top 0
                width 100px
                margin-bottom 15px
            +below(750px)
                width 100px
                margin-bottom 15px
            +below(480px)
                margin 0 10px
                margin-bottom 15px
            +below(350px)
                width 112px
                margin 0 0 15px 0
        .checkbox:nth-child(3n)
            +below(600px)
                //margin-right calc((100% - 300px) / 2)

    [type="checkbox"]
        position absolute
        left -9999px
    &--square-full
        +below(750px)
            font-size 13px
        [type="checkbox"]
            & + .label,& + label.error + .label
                position relative
                cursor pointer
                transition all 0.3s
                line-height 26px
                letter-spacing -0.7px
                text-align center
                +below(1450px)
                    line-height: 18px;
                    font-size: 13px;
                +below(480px)
                    line-height 20px
                &:before
                    content ''
                    width calc(100% - 40px)
                    background #fff
                    margin auto
                    height 70px
                    border 1px solid #16bba9
                    margin-bottom 20px
                    display block
                    +below(1450px)
                        height 60px
                        margin-bottom 10px
                    +below(1050px)
                        width calc(100% - 35px)
                        margin-bottom 15px
                &:after
                    width 100%
                    left 0
                    top 0
                    position absolute
                    overflow hidden
                    margin 0 auto
                    cursor pointer
                    display inline-block
                    font normal normal normal 53px/72px FontAwesome
                    text-align center
                    text-rendering auto
                    -webkit-font-smoothing antialiased
                    -moz-osx-font-smoothing grayscale
                    color #16bba9
                    content "\f00c"

            &:not(:checked) + .label:after,&:not(:checked) + label.error + .label:after
                opacity 0

            &:checked + .label:after,&:checked + label.error + .label:after
                opacity 1

            &:checked + .label:before,&:checked + label.error + .label:before
                border-color blue
            &.error + .label:before
                border-color red
        &.disabled
            pointer-events none
            cursor none
            color #d6d2d2
            .label:before
                border-color #d6d2d2 !important
    &--square
        [type="checkbox"]
            & + .label,& + label.error + .label
                padding-left 54px
                position relative
                cursor pointer
                font-size 20px
                +below(1450px)
                    font-size 18px
                +below(480px)
                    font-size 12px
                    padding-left 44px
                &:before
                    content ''
                    position absolute
                    top 50%
                    left 0
                    margin-top -18px
                    vertical-align middle
                    width 34px
                    height 34px
                    border 2px solid #fff
                    +below(480px)
                        width 28px
                        height 28px
                        margin-top -16px
                &:after
                    content ""
                    left 8px
                    position absolute
                    top 50%
                    margin-top -10px
                    color #fff
                    width 22px
                    height 22px
                    background #fff
                    transition all .3s
                    +below(480px)
                        width 16px
                        height 16px
                        margin-top -8px

            &:not(:checked) + .label:after,&:not(:checked) + label.error + .label:after
                opacity 0
                transform scale(0)
            &:checked + .label:after,&:checked + label.error + .label:after
                opacity 1
                transform scale(1)

            &.error + label.error + .label:before
                border-color red


.radio
    [type="radio"]
        position absolute
        left -9999px
    &--check
        label
            display inline-block
        [type="radio"]
            & + .label,& + label.error + .label
                position relative
                cursor pointer
                transition all .3s
                font-weight 600
                font-size 23px
                +below(600px)
                    font-size 18px
                &:before
                    content ""
                    position absolute
                    height 18px
                    width 18px
                    border 2px solid #6a6a6a
                    border-radius 5px
                    top 50%
                    transform translateY(-50%)
                svg
                    transition all 0.3s
                    opacity 0
                    height 22px
                    width 26px
                    fill #6a6a6a
                    margin-right 5px
            &:checked + .label svg,&:checked + label.error + .label svg
                opacity 1
    &--square-full
        label
            display block
            height 100%
        [type="radio"]
            & + .label,& + label.error + .label
                position relative
                cursor pointer
                transition all 0.3s
                height 100%
                display flex
                align-items center
                text-align center
                justify-content center
                font-size 13px
                line-height 17px
                padding 10px
            &:checked + .label,&:checked + label.error + .label
                background blue
                color #fff

            &.error + label.error + .label:before
                //border-color red
    &--round
        label
            display inline-block
        [type="radio"]
            & + .label,& + label.error + .label
                padding-left 35px
                position relative
                cursor pointer
                transition all .3s
                font-weight 600
                font-size 19px
                +below(1450px)
                    font-size 16px
                &:before
                    content ''
                    position absolute
                    top 50%
                    left -5px
                    margin-top -16px
                    vertical-align middle
                    width 25px
                    height 25px
                    transition all .3s
                    border 3px solid #7d7d7d
                    border-radius 50%
                    background-color white
                &:after
                    content ""
                    left 7px
                    position absolute
                    top 50%
                    margin-top -4px
                    color #fff
                    width 8px
                    height 8px
                    background #7d7d7d
                    transition all .3s
                    border-radius 50%

            &:not(:checked) + .label:after,&:not(:checked) + label.error + .label:after
                opacity 0
                transform scale(0)
            &:checked + .label:after,&:checked + label.error + .label:after
                opacity 1
                transform scale(1)
                background blue
            &:checked + .label:before,&:checked + label.error + .label:before
                border-color blue
            &:checked + .label
                color blue

.block
    &--padding
        padding 40px 30px
        +below(600px)
            padding 30px 30px
        +below(480px)
            padding 20px


.border-grey
    border 1px solid #88898c


ul
    &.list-check
        li
            &:before
                display inline-block
                margin 0 auto
                display inline-block
                font normal normal normal 20px/1 FontAwesome
                text-align center
                text-rendering auto
                -webkit-font-smoothing antialiased
                -moz-osx-font-smoothing grayscale
                color blue
                content "\f058"
                margin-right 10px


.upload
    .upload__ttl
        flex-shrink 0
    &:not(:last-child)
        margin-bottom 13px
    &__ttl
        position relative
        width 300px
        font-weight 700
        line-height 26px
        +below(410px)
            width 200px
        &:before
            display inline-block
            //margin 0 auto
            align-items center
            display inline-block
            font normal normal normal 20px/1 FontAwesome
            text-align center
            text-rendering auto
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            content "\f10c"
            margin-right 15px
    &.first
        margin-bottom 17px
    &__img
        max-width none

    &.done
        .upload__ttl
            &:before
                content "\f05d"
                color blue
    &__size-error
        color red
        margin 0
        font-size 14px
        +below(650px)
            font-size 11px
            line-height 11px
            margin 0
            margin-top 5px
            min-width 100%
            text-align right
    &__input
        display flex
        cursor pointer
        margin-right 40px
        +below(650px)
            margin-right 0
        span
            color blue
            text-transform uppercase
            text-decoration underline
            transition all .3s
            &:hover
                text-decoration none

        input[type="file"]
            position absolute
            left -9999px
            &.error + label + span
                color red
    +below(650px)
        flex-wrap wrap

.has-icon
    &:before
        content ''
        display inline-block
        font normal normal normal 16px/1 FontAwesome
        font-size 18px
        text-rendering auto
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        color blue
        margin-right 10px
    &--mail
        &:before
            content "\f0e0"
    &--tel
        &:before
            content "\f095"

.team
    &__contacts
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background #e3f8f6 url(../images/icon-logo-blue-xl.png) center no-repeat
        color #717171
        z-index 1
        opacity 0
        transition all 0.3s
        a
            color #717171
            &:hover
                color blue
        &-ttl
            font-weight 600
        &-item+&-item
            margin-top 20px

    &__filter
        margin 30px 0 38px
        +below(1024px)
            flex-wrap wrap
            max-width 400px
            margin 20px auto
        &-link
            font-size 20px
            cursor pointer
            transition all 0.3s
            &:hover,&.active
                color blue
            &+&
                margin-left 60px
                +below(1024px)
                    margin-left 40px
                +below(750px)
                    margin-left 0
            +below(1450px)
                font-size 18px
            +below(1024px)
                margin 0 40px
                &:not(:nth-last-child(-n+2))
                    margin-bottom 5px
            +below(750px)
                flex 0 1 50%
                margin-left 0
                margin-right 0
    &__container
        position relative
        &-inner
            border 1px solid grey
            padding 20px 15px
            max-height 745px
            +below(1450px)
                max-height 680px
            +below(1024px)
                max-height 460px
            &.vertical-scroll
                padding-right 48px
                +below(750px)
                    padding-right 42px
    &__list
        padding 5px
        +below(1024px)
            justify-content center
    &__item
        display flex
        flex-direction column
        background #fff
        box-shadow 0 0 5px rgba(0,0,0,0.4)
        width:calc((100% - 45px) / 4)
        margin-right 15px
        margin-bottom 15px
        padding 5px
        padding-bottom 10px
        transition all 0.3s

        &:hover,&.active
            background blue
            color #fff
            .team__item-contact
                a,&:before
                    color #fff
        &:hover
            .team__contacts
                opacity 1


        &:nth-child(4n)
            margin-right 0
        &:nth-last-child(-n+4)
            margin-bottom 0

        +below(1024px)
            width:272px
            margin-bottom 20px
            margin-right 20px
            &:nth-child(4n)
                margin-right 20px
            &:nth-child(2n)
                margin-right 0px
            &:nth-last-child(-n+4)
                margin-bottom 20px
            &:nth-last-child(-n+2)
                margin-bottom 0px
        +below(770px)
            width:calc((100% - 20px) / 2)
        +below(480px)
            width:100%
            margin-right 0px
            &:nth-child(2n)
                margin-right 0px
            &:nth-last-child(-n+2),&:nth-last-child(-n+4)
                margin-bottom 20px
            &:last-child
                margin-bottom 0px

        &-img
            margin-bottom 7px
            position relative
            background #eee
            img
                display block
                margin auto
                width 100%
                max-height 204px
            img.logo
                width 50%
                margin-top 20%
                margin-bottom 20%
        &-ttl
            font-weight 700
            font-size 18px
            line-height 28px
            margin-bottom 5px
            text-transform uppercase
        &-position
            font-style normal
            font-size 15px
            text-transform lowercase
            line-height 20px
            margin-bottom 5px
            &:first-letter
                text-transform capitalize
            &-post
                font-size 15px
                text-transform uppercase
        &-contact
            position relative
            margin-top 5px
            text-transform uppercase
            font-weight 700
            letter-spacing -0.8px
            margin-top auto
            &:before
                content '\f0e0'
                display inline-block
                font normal normal normal 16px/1 FontAwesome
                font-size 16px
                text-rendering auto
                -webkit-font-smoothing antialiased
                -moz-osx-font-smoothing grayscale
                vertical-align middle
                color blue
                margin-right 5px
                margin-top -4px
                transition all 0.3s
            a
                color #333232

    &__close
        position absolute
        top -36px
        right -28px
        z-index 1
        +below(480px)
            top -25px
            right -17px

.companies-list
    text-align left
    &__item
        font-weight 600
    &__item+&__item
        margin-top 7px

.companies-wrap
    margin-top 45px
    margin-bottom 15px
    +below(1450px)
        margin-top 10px
    +below(480px)
        margin-top 25px

.company
    width calc((100% - 126px) / 4)
    margin-right 42px
    margin-bottom 45px
    &:nth-child(4n)
        margin-right 0
    &:nth-last-child(-n+4)
        margin-bottom 0
    +below(1450px)
        margin-bottom 15px
    +below(1024px)
        width calc((100% - 42px) / 2)
        &:nth-child(4n)
            margin-right 42px
        &:nth-last-child(-n+4)
            margin-bottom 45px
        &:nth-child(2n)
            margin-right 0
        &:nth-last-child(-n+2)
            margin-bottom 0
    +below(600px)
        width 100%
        margin-right 0
        &:nth-child(4n),&:nth-child(2n)
            margin-right 0
        &:nth-last-child(-n+2)
            margin-bottom 45px
        &:last-child
            margin-bottom 0
    +below(480px)
        margin-bottom 25px
        &:nth-last-child(-n+2),
        &:nth-last-child(-n+4)
            margin-bottom 25px
        &:last-child
            margin-bottom 0
    &.disabled
        opacity 0.2
        pointer-events none
        cursor none
    &.disabled .company__ttl
        color #d6d2d2
    &.disabled .company__descr
        color #d6d2d2
    &.disabled img
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);

    &__img
        padding 13px
        border 1px solid grey
        background #ffffff
        height 83px
        overflow hidden
        margin-bottom 15px
        & img
            max-height 100%
        +below(1450px)
            height 70px
            padding 7px
            margin-bottom 5px
    &__ttl
        font-size 18px
        font-weight 700
        display block
        +below(1450px)
            font-size 15px
            line-height normal
            margin-bottom 5px
        +below(480px)
            font-size 16px
    &__descr
        line-height 24px
        display block
        letter-spacing -0.1px
        +below(1450px)
            line-height: 18px;
            font-size: 13px;
    &__link
        color #6a6a6a
    &:hover &__img
        outline 2px solid #16bba9
        border 1px solid #ffffff

#timepicker-wrap, #datepicker-wrap,#timePicker
    position relative

#timepicker-wrap, #datepicker-wrap
    .wickedpicker, .pickmeup
        top calc(100% - 1px) !important
        left 0 !important
        z-index 4
        font-size 15px
        background #fff
        border 1px solid #b0b1b3!important
        width calc(100% - 2px)
        +below(480px)
            width calc(100vw - 40px)
            left auto !important
            right 0 !important


.timepicker
    #dtBox
        top calc(100% - 1px) !important
        left 0px !important
        width 100% !important
    .dtpicker-components
        margin-top 5px
        margin-bottom 8px
    .dtpicker-components
        .dtpicker-comp > *
            height auto
            line-height 1
    .dtpicker-components .dtpicker-comp > *, .dtpicker-header .dtpicker-title
        color #848484

    .dtpicker-buttonCont,.dtpicker-header
        display none

    .dtpicker-header
        .dtpicker-close,.dtpicker-value
            color blue

.choose__item
  &.disabled
    pointer-events none
    cursor none
    opacity 0.2;

.header-highlights 
    .btn-top-menu
        display none
    &.header_fixed 
        .btn-top-menu
            display block
            +below(500px)
                display none
                &.js-open-menu
                    display flex
            

.header-appointment
    .btn-top-menu
        display none
    &.header_fixed 
        .header__options
            +below(500px)
                flex 0
        .btn-top-menu
            display block
            display block
            +below(500px)
                display none
                &.js-open-menu
                    display flex
        .btn-appoint
            display none
