@import 'variables'

.dtpicker-overlay
    z-index 2000
    display none
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    *
        -webkit-box-sizing border-box
        -moz-box-sizing border-box
        box-sizing border-box
        -ms-box-sizing border-box
        -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    .dtpicker-compValue
        &:focus
            outline none

.dtpicker-mobile
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    .dtpicker-cont
        position relative
        top 50%
        -webkit-transform translateY(-50%)
        -moz-transform translateY(-50%)
        -o-transform translateY(-50%)
        -ms-transform translateY(-50%)
        transform translateY(-50%)
        border none
    .dtpicker-content
        width 100%

.dtpicker-bg
    width 100%
    height 100%

.dtpicker-content
    margin 0 auto
    max-width 500px
    background: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,.05);
    border: 1px solid #b0b1b3!important;


.dtpicker-subcontent
    position relative

.dtpicker-header
    margin 0.2em 1em
    .dtpicker-title
        color #2980B9
        text-align center
        font-size 1.1em
    .dtpicker-close
        position absolute
        top -0.7em
        right 0.3em
        padding 0.5em 0.5em 1em 1em
        color #FF3B30
        font-size 1.5em
        cursor pointer
        &:hover
            color #FF3B30
    .dtpicker-value
        padding 0.8em 0.2em 0.2em 0.2em
        color #FF3B30
        text-align center
        font-size 1.4em

.dtpicker-components
    overflow hidden
    *
        margin 0
        padding 0
    .dtpicker-compOutline
        display inline-block
        float left
    .dtpicker-comp
        margin 2%
        text-align center
        & > *
            display block
            height 30px
            color #2980B9
            text-align center
            line-height 30px
        & > *:hover
            color #2980B9
    .dtpicker-compButtonEnable
        opacity 1
    .dtpicker-compButtonDisable
        opacity 0
    .dtpicker-compButton
        font-size 24px
        color blue!important
        cursor pointer
        &.decrement
            font-size: 30px;
            line-height: 15px!important
    .dtpicker-compValue
        margin 2px 0
        width 100%
        border none
        font-size 100%
        -webkit-appearance none
        -moz-appearance none
        background: #fff

.dtpicker-comp2
    width 50%

.dtpicker-comp3
    width 33.3%

.dtpicker-comp4
    width 25%

.dtpicker-comp5
    width 20%

.dtpicker-comp6
    width 16.66%

.dtpicker-comp7
    width 14.285%

.dtpicker-buttonCont
    overflow hidden
    margin 0.2em 1em
    .dtpicker-button
        display block
        padding 0.6em 0
        width 47%
        background #FF3B30
        color #FFFFFF
        text-align center
        font-size 1.3em
        cursor pointer
        &:hover
            color #FFFFFF

.dtpicker-singleButton
    .dtpicker-button
        margin 0.2em auto

.dtpicker-twoButtons
    .dtpicker-buttonSet
        float left
    .dtpicker-buttonClear
        float right

.pickmeup{background:#000;-moz-box-sizing:content-box;box-sizing:content-box;display:inline-block;position:absolute;touch-action:manipulation}
.pickmeup *{-moz-box-sizing:border-box;box-sizing:border-box}
.pickmeup.pmu-flat{position:relative}
.pickmeup.pmu-hidden{display:none}
.pickmeup .pmu-instance{display:block;padding:.5em;text-align:center;width: 250px;margin:auto}
.pickmeup .pmu-instance .pmu-button{color:#616161;outline:none;text-decoration:none;transition:all 0.3s;}
.pickmeup .pmu-instance .pmu-button:not(.pmu-disabled){color:blue;cursor:pointer;}
.pickmeup .pmu-instance nav .pmu-button.pmu-button{color:#616161!important}
.pickmeup .pmu-instance .pmu-today{background:#b3b3b3;color:#fff!important}
.pickmeup .pmu-instance .pmu-button:hover{opacity:0.7;}
.pickmeup .pmu-instance .pmu-not-in-month{color:#666}.pickmeup .pmu-instance .pmu-disabled,.pickmeup .pmu-instance .pmu-disabled:hover{color:#333;cursor:default}
.pickmeup .pmu-instance .pmu-selected.pmu-button:not(.pmu-disabled){background:blue;color:#fff}.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected{background:#17384d}.pickmeup .pmu-instance nav{color:#eee;display:-ms-flexbox;display:-webkit-flex;display:flex;line-height:2em}
.pickmeup .pmu-instance nav .pmu-prev,.pickmeup .pmu-instance nav .pmu-next{display:none;height:2em;width:1em}
.pickmeup .pmu-instance .pmu-years *,.pickmeup .pmu-instance .pmu-months *{display:inline-block;line-height:3.6em;width:3.5em}
.pickmeup .pmu-instance .pmu-day-of-week{color:#999;cursor:default}
.pickmeup .pmu-instance .pmu-day-of-week *,.pickmeup .pmu-instance .pmu-days *{display:inline-block;line-height: 2em;width: 2.2em;}
.pickmeup .pmu-instance .pmu-day-of-week *{line-height:1.8em;width: 2.3em;}
.pickmeup .pmu-instance:first-child .pmu-prev,.pickmeup .pmu-instance:last-child .pmu-next{display:block;}
.pickmeup .pmu-instance:first-child .pmu-month,.pickmeup .pmu-instance:last-child .pmu-month{flex:1}
.pickmeup:not(.pmu-view-days) .pmu-days,.pickmeup:not(.pmu-view-days) .pmu-day-of-week,.pickmeup:not(.pmu-view-months) .pmu-months,.pickmeup:not(.pmu-view-years) .pmu-years{display:none}