@import 'variables'
@import 'mixins'

img
  max-width 100%

p
  margin 0 0 20px
  +below(700px)
    br
      display none
  &:last-child
    margin-bottom 0

p.mb0
  margin-bottom 5px

.clearfix:after
    content ""
    display block
    clear both

.content
  overflow hidden
  flex 1 1 auto

.text
  &-upper
    text-transform uppercase

  &-underline
    text-decoration underline

  &-center
    text-align center

  &-sup
    vertical-align super
    font-size 14px
    margin-right 5px

  &-left
    text-align left

  &-right
    text-align right

  &-bold
    font-weight bold

ul
  padding 0
  list-style none
  li + li
    margin-top 2px
  &.flex
    li + li
      margin-top 0

.color
  &-blue
    color blue

  &-dark
    color xgrey

  &-black
    color black

a
    &.color-dark:hover
        color blue
    &.color-black:hover
        color blue

.flex
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex

  &-wrap
    flex-wrap wrap
    -webkit-flex-wrap wrap
    display -webkit-flex

  &-column
    flex-direction column

.align
  &-items
      &-center
          align-items center

      &-end
          align-items end

      &-start
          align-items flex-start

  &-self-start
      -ms-flex-item-align start
      align-self flex-start

.justify-content
  &-self-center
      justify-self center

  &-between
      justify-content space-between
      -webkit-box-pack justify
      -moz-box-pack justify
      -ms-flex-pack justify
      -webkit-justify-content space-between

  &-start
      justify-content flex-start
      -webkit-box-pack start
      -moz-box-pack start
      -ms-flex-pack start
      -webkit-justify-content flex-start
      +between(350px, 450px)
        justify-content space-around
        -webkit-box-pack space-around
        -moz-box-pack space-around
        -ms-flex-pack space-around
        -webkit-justify-content space-around

  &-end
      justify-content flex-end
      -webkit-box-pack end
      -moz-box-pack end
      -ms-flex-pack end
      -webkit-justify-content flex-end

  &-center
      justify-content center
      -webkit-box-pack center
      -moz-box-pack center
      -ms-flex-pack center
      -webkit-justify-content center

.icon
  transition all 0.3s

.container
  width width-reg
  padding 0 20px
  margin 0 auto
  position relative
  +below(1450px)
    width 100%
    max-width 1135px
    padding 0 35px
  +below(750px)
    padding 0 20px
    .container
      padding 0

  &--sm
    width width-sm
    +below(1450px)
      width 100%
      max-width 800px
    +below(1024px)
      width 100%
      padding 0 35px
    +below(750px)
      padding 0 20px

  &--full
    width 100%
    padding 0

.bg
  &-ttl
    color #E0E0E0
    font-family font-family-sec
    font-size 124px
    line-height normal
    position absolute
    transform rotate(90deg)
    left calc(100% + 150px)
    letter-spacing 6px
    top -190px
    transform-origin left top
    z-index -1

  &-blue,&-callback,&-dark
    color #fff

    .h1,.h2,.h3,.h4,.h5
      color #fff

    .ttl--underline:after
      background #fff
  &-dark
    background-color xxgrey

  &-grey
    background-color #e0e0e0
    color #3e3e3e

  &-white
    background-color #fff
    color #3e3e3e

  &-full-green
    background-color #16bba9
    color #3e3e3e
    width 20px!important
    height 20px!important
    margin-left: 25px

  &-blue
    background-color blue
    .ttl--icon:before
      background url('../images/icon-logo-white.png') center no-repeat
      +below(750px)
        background-size 60px
      +below(480px)
        background-size 50px

  &-pattern
    background-image url('../images/bg-pattern.png')
    background-position top


.section
  &--steps
    +below(1450px)
      padding-top 15px
    .ttl
      +below(1450px)
        margin-bottom 15px
  padding 60px 0 82px
  position relative
  +below(1024px)
    padding 60px 0
  +below(600px)
    padding 40px 0

  &--nopad
    padding 0

  &--xp
    padding-top 173px
    padding-bottom 110px
    +below(1024px)
      padding 80px 0
    +below(600px)
      padding 60px 0

  &--xpb
    padding-bottom 110px
    +below(1024px)
      padding-bottom 80px
    +below(600px)
      padding-bottom 60px

  &--hero
    background #83cbc3 url(../images/bg-hero.jpg) center bottom no-repeat
    max-height 100vh
    min-height 600px
    height 710px
    color #fff
    padding 130px 0 50px
    background-size auto 100%
    background-position-x calc(100% + 86px)
    +below(1450px)
      background-position-x 50%
    +below(1024px)
      min-height 0px
      height auto
      max-height 100%
      background-size 100%
      padding 175px 0 135px
      background-position-x calc(100% + 86px)
      background-size 100%
    +below(768px)
      padding 175px 0 70px
    +below(750px)
      padding 120px 0 60px
    +below(480px)
      background #83cbc3
      padding 100px 0 60px
    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
      color #fff

    .container
      height 100%

    .w-50
      width 53%
      +below(1024px)
        width 100%
      .h1
        span
          display inline-block
          white-space nowrap

    &-inner
      background #83cbc3 url(../images/bg-hero-inner.jpg) center bottom no-repeat
      min-height 365px
      height 365px
      +below(1450px)
        padding 147px 0 50px
        min-height 0px
        height auto
      +below(1024px)
        max-height 100%
      +below(480px)
          padding 100px 0 40px

  &--hero-hightlight
    min-height: 0;
    height: 382px;
    background-size: 1760px auto;
    background-position-y: -205px;
    background-position-x: calc(50% + 10px);
    .h1
      max-width: 515px;
      font-size: 35px;
      line-height: 46px;
      +below(1450px)
        max-width 440px
        font-size 29px
        line-height 46px
    +below(1024px)
      background-position-y: bottom;
      background-position-x: calc(100% + 86px);
      background-size: 100%;
    +below(768px)
      background-image none
      height auto

  &--highlights
    margin-top: 30px
    +below(800px)
      margin-top: 0px
      //width: 450px;
      margin: 0 auto;
      .container
        display: block
    .content--highlights
      width calc((100% - 40px) / 3)
      +below(800px)
        width auto
      .logo img
        margin-right: 15px
        +below(1450px)
          max-width: 60px
        +below(900px)
          max-width: 55px
        +below(750px)
          max-width: 45px
      .ttl
        font-size: 29px
        +below(1450px)
          font-size: 26px
        +below(750px)
          font-size: 22px
        +below(450px)
          justify-content: flex-start
    .list-check
      padding: 20px;
      border 1.5px solid rgba(0, 0, 0, 0.1)
      font-size: 17px;
      line-height: 45px;
      +below(1000px)
        font-size: 16px;
        line-height: 40px;

  &--contacts
    padding 82px 0 100px
    +below(1450px)
      padding 60px 0 80px
    +below(600px)
      padding 50px 0

  &--started
    display flex
    align-items center
    +below(1450px)
      min-height 100vh
    +below(1024px)
      min-height 0
    +below(320px)
      padding 25px 0
      .mt-70
        margin-top 25px

  &--why
    +below(1450px)
      padding 40px 0 30px
    +below(1024px)
      padding 60px 0
    +below(600px)
      padding 40px 0


*[class*="js-"]
    cursor pointer

*[class*="js-block"],*[class*="js-end"],*[class*="js-hfixed"]
    cursor initial

*[class*="js-block"]
    display none

.w
  &-100
    width 100%

  &-50
    width 50%

  &-40
    width 40%

  &-45
    width 45%

  &-55
    width 55%

  &-60
    width 60%

.p
  &l
    &-10
      padding-left 10px

    &-20
      padding-left 20px

    &-35
      padding-left 35px

  &r
    &-70
      padding-right 70px

  &t
    &-15
      padding-top 15px

  &b
    &-0
      padding-bottom 0

.m
  &t
    &-20
      margin-top 20px
    &-30
      margin-top 30px
    &-35
      margin-top 35px
    &-40
      margin-top 40px
    &-50
      margin-top 50px
      +below(700px)
        margin-top 30px
    &-70
      margin-top 70px
      +below(750px)
        margin-top 30px

  &b
    &-160
      margin-bottom 160px

    &-20
      margin-bottom 20px

    &-30
      margin-bottom 30px

    &-70
      margin-bottom 70px
      +below(750px)
        margin-bottom 30px

#modal-program
  a.tel
    text-decoration underline
