// @import '../../../node_modules/normalize.styl/_normalize.styl'
@import "rupture"
@import 'mixins'

*,
*::before,
*::after
  box-sizing border-box

html
  font-family sans-serif
  line-height 1.15
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  -ms-overflow-style scrollbar
  -webkit-tap-highlight-color transparent

@-ms-viewport
  width device-width

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section
  display block

body
  margin 0
  font-size 1rem
  font-weight normal
  line-height 1.5
  color #212529
  text-align left
  background-color #fff

[tabindex="-1"]:focus
  outline: none !important

hr
  box-sizing content-box
  height 0
  overflow visible

h1, h2, h3, h4, h5, h6
  margin-top 0
  margin-bottom .5rem

p
  margin-top 0
  margin-bottom 1rem

abbr[title],
abbr[data-original-title]
  text-decoration underline
  -webkit-text-decoration underline dotted
          text-decoration underline dotted
  cursor help
  border-bottom 0

address
  margin-bottom 1rem
  font-style normal
  line-height inherit

ol,
ul,
dl
  margin-top 0
  margin-bottom 1rem

ol ol,
ul ul,
ol ul,
ul ol
  margin-bottom 0

dt
  font-weight bold

dd
  margin-bottom .5rem
  margin-left 0

blockquote
  margin 0 0 1rem

dfn
  font-style italic

b,
strong
  font-weight bolder

small
  font-size 80%

sub,
sup
  position relative
  font-size 75%
  line-height 0
  vertical-align baseline

sub
  bottom -.25em

sup
  top -.5em

a
  text-decoration none
  background-color transparent
  -webkit-text-decoration-skip objects


a:not([href]):not([tabindex])
  color inherit
  text-decoration none

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover
  color inherit
  text-decoration none

a:not([href]):not([tabindex]):focus
  outline 0

pre,
code,
kbd,
samp
  font-family monospace, monospace
  font-size 1em

pre
  margin-top 0
  margin-bottom 1rem
  overflow auto
  -ms-overflow-style scrollbar

figure
  margin 0 0 1rem

img
  vertical-align middle
  border-style none

svg:not(:root)
  overflow hidden

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea
  -ms-touch-action manipulation
      touch-action manipulation

table
  border-collapse collapse

caption
  padding-top 0.75rem
  padding-bottom 0.75rem
  color #868e96
  text-align left
  caption-side bottom

th
  text-align inherit

label
  display inline-block
  margin-bottom .5rem

button
  border-radius 0

button:focus
  outline 1px dotted
  outline 5px auto -webkit-focus-ring-color

input,
button,
select,
optgroup,
textarea
  margin 0
  font-family inherit
  font-size inherit
  line-height inherit

button,
input
  overflow visible

button,
select
  text-transform none

button,
html [type="button"],
[type="reset"],
[type="submit"]
  -webkit-appearance button

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
  padding 0
  border-style none

input[type="radio"],
input[type="checkbox"]
  box-sizing border-box
  padding 0

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]
  -webkit-appearance listbox

textarea
  overflow auto
  resize vertical

fieldset
  min-width 0
  padding 0
  margin 0
  border 0

legend
  display block
  width 100%
  max-width 100%
  padding 0
  margin-bottom .5rem
  font-size 1.5rem
  line-height inherit
  color inherit
  white-space normal

progress
  vertical-align baseline

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
  height auto

[type="search"]
  outline-offset -2px
  -webkit-appearance none

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration
  -webkit-appearance none

::-webkit-file-upload-button
  font inherit
  -webkit-appearance button

output
  display inline-block

summary
  display list-item

template
  display none

[hidden]
  display none !important

html
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit

body
  font-family: "Helvetica","Arial",sans-serif;

:disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfix:after
    content ""
    display block
    clear both

a
  -webkit-text-decoration-skip: ink
  text-decoration-skip: ink

.visuallyhidden:not(:focus):not(:active)
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

.svg-sprite
  display none


.header-top-fixed
  padding-top 104px
  +below(1020px)
    padding-top 44px

.container
  position relative
  margin: 0 auto;
  max-width: 1190px;
  +below(1020px)
    padding 0
  &--top-header
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    +below(1020px)
      height 44px
      padding-left 20px
      padding-right 20px

.btn
  &--confirm
    width: 433px;
    color: #fff;
    letter-spacing: 0;
    background: #da291c;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    transition all .1s
    display inline-block
    &:hover
      transform scale(1.05)
      text-decoration none
      color #fff
    +below(1020px)
      width 350px
      font-size 25px
    +below(769px)
      font-size 20px
    +below(400px)
      width 100%
      margin-left auto
      margin-right auto

.top-header
  border-bottom: 2px solid #ededed;
  background: #fff;
  margin: 0;
  box-sizing: border-box;

  &--fixed
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;

  &__logo
    display: block;
    width: 150px;
    height: 50px;
    .icon
      width 100%
      height 100%
    +below(1020px)
      width 78px
      height 24px

  &--text
    font-size: 25px;
    line-height: normal;
    +below(1020px)
      font-size 16px
    +below(400px)
      font-size 15px

.steps
  padding-top 65px
  padding-bottom 65px
  &__item
    font-size: 25px;
    line-height: 27px;
    letter-spacing -0.02em
    span
      margin-left: 11px;
      letter-spacing inherit
    span.complete
      color: #da291c;
      text-transform: uppercase;
      letter-spacing: inherit
    +below(1020px)
      font-size 18px
    +below(769px)
      font-size 16px
    +below(400px)
      font-size 15px

  .steps__item + .steps__item
    margin-top 2px
  +below(1020px)
    padding-top 20px
    padding-bottom 20px
  +below(700px)
    padding-top 0

.confirm
  &__wrapper
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 0px;
    padding-left: 50px;
    background  #f8f8f8
    width: 100%;
    align-items center
    +below(1020px)
      padding 20px
    +below(700px)
      flex-direction column

  &__item
    &:first-child
      border-right: 1px solid #d3d3d3;
      padding-right: 60px;
      +below(700px)
        display flex
        justify-content center
        width 100%
        border 0
        padding-right 0
    &:last-child
      padding-left 30px
      flex-grow 1
      text-align center
      +below(700px)
        padding-left 0

    +below(400px)
      width 100%

  &__subtitle
    line-height: normal;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
    +below(769px)
      font-size 16px
    +below(700px)
      margin-bottom 15px
    +below(400px)
      font-size 15px

.reviews
  background: #fff;
  padding-top: 50px;
  box-sizing: border-box;
  font-family: "Helvetica-Neue-Light"

  &__top
    margin-bottom: 20px;

  &__title
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
    line-height: normal;
    letter-spacing: 0.03em;
    +below(769px)
      line-height 36px
      font-size 30px
      margin-bottom 25px
      width calc(100% - 20px)
      margin-left auto
      margin-right auto
    +below(700px)
      margin-bottom 15px

  &__wrapper
    display: flex;
    background: #ededed;
    height 582px
    +below(769px)
      flex-direction column
      width 100%
      height auto

  &__img
    width: 50%;
    background url('../images/reviews-bg.jpg')
    background-size cover
    background-position center center
    +below(769px)
      width 100%
      height 500px
    +below(700px)
      height 400px
    +below(500px)
      height 300px
    +below(400px)
      height 220px

  &__content
    width: 50%;
    padding: 0 30px;
    padding-left 80px
    display flex
    flex-direction column
    justify-content center
    &-img
      height: 48px;
      width: 48px;
      display: block;
      margin-bottom: 27px;
      margin-top: 15px;
      .icon
        with 100%
        height 100%
        fill #da291c
      +below(769px)
        height 36px
        width 36px
        margin-bottom 10px
        margin-top 0

    &-desk
      font-style: italic;
      font-size: 18px;
      line-height: 36px;
      max-width 512px
      letter-spacing: .4px;
      color #000
      +below(769px)
        font-size 14px
        max-width 100%
        width 100%
        text-align center
        line-height 21px
        font-style normal

    +below(1020px)
      padding-left 30px
    +below(769px)
      height 289px
      width 100%
      justify-content center
      align-items center
    +below(700px)
      height auto
      padding-top 30px
      padding-bottom 30px

  +below(769px)
    padding-top 30px


.rated
  font-family: Helvetica-Neue-Light
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.32px;
  +below(769px)
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    height: auto;

  &__text
    display inline-block
    +below(769px)
      font-size 16px
    +below(400px)
      font-size 14px

  &__star
    width 96px
    height 20px
    display inline-block
    vertical-align middle
    .hiscox_rating__bar
      height auto
      width 100%
    .review-stars-background
      fill #000
    .review-stars-foreground
      fill #f09340

img
  max-width 100%

p
  margin 0 0 20px
  +below(700px)
    br
      display none
  &last-child
    margin-bottom 0

.clearfix:after
    content ""
    display block
    clear both

.content
  overflow hidden
  flex 1

.text
  &-upper
    text-transform uppercase

  &-underline
    text-decoration underline

  &-center
    text-align center

  &-sup
    vertical-align super
    font-size 14px
    margin-right 5px

  &-left
    text-align left

  &-right
    text-align right

ul
  padding 0
  list-style none
  li + li
    margin-top 2px

.color
  &-red
    color #FF4C4C

  &-grey
    color grey

.flex
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex

  &-wrap
    flex-wrap wrap
    -webkit-flex-wrap wrap
    display -webkit-flex

  &-column
    flex-direction column
  &-grow
    flex-grow 1

.align
  &-items
      &-center
          align-items center

      &-end
          align-items flex-end

      &-start
          align-items flex-start

  &-self-start
      -ms-flex-item-align start
      align-self flex-start

.justify-content
  &-self-center
      justify-self center

  &-between
      justify-content space-between
      -webkit-box-pack justify
      -moz-box-pack justify
      -ms-flex-pack justify
      -webkit-justify-content space-between

  &-end
      justify-content flex-end
      -webkit-box-pack end
      -moz-box-pack end
      -ms-flex-pack end
      -webkit-justify-content flex-end

  &-center
      justify-content center
      -webkit-box-pack center
      -moz-box-pack center
      -ms-flex-pack center
      -webkit-justify-content center

.icon
  transition all 0.3s

.container
  width 100%
  padding 0 20px
  margin 0 auto
  position relative

.section,section
  position relative



.w
  &-100
    width 100%
  &-50
    width 50%
  &-40
    width 40%
  &-45
    width 45%
  &-55
    width 55%
  &-60
    width 60%
.mw
  &-100
    max-width 100% !important
.p
  &l
    &-10
      padding-left 10px
    &-20
      padding-left 20px
    &-35
      padding-left 35px


  &r
    &-70
      padding-right 70px

  &t
    &-15
      padding-top 15px
    &-32
      padding-top 32px
    &-40
      padding-top 40px

  &b
    &-0
      padding-bottom 0
    &-320
      padding-bottom 320px

.m
  &t
    &-15
      margin-top 15px
    &-18
      margin-top 18px
    &-30
      margin-top 30px
    &-35
      margin-top 35px
    &-40
      margin-top 40px
    &-50
      margin-top 50px
    &-65
      margin-top 65px
    &-60
      margin-top 60px
    &-71
      margin-top 71px
      +below(600px)
        margin-top 47px
    &-80
      margin-top 80px

  &b
    &-110
      margin-bottom 110px
      +below(900px)
        margin-bottom 40px
      +below(500px)
        margin-bottom 25px
    &-160
      margin-bottom 160px
    &-20
      margin-bottom 20px
    &-25
      margin-bottom 25px
    &-30
      margin-bottom 30px
    &-40
      margin-bottom 40px

webfont('Helvetica-Neue-Bold', 'HelveticaNeue-Bold')
webfont('Helvetica-Neue-Light', 'HelveticaNeue-Light')

.header
  padding 20px
  padding 20px
  height calc(2 * 100px)