@import 'variables'
@import 'mixins'

sub
  bottom -.1em
  margin-left 1px

html
  box-sizing border-box

*,
*before,
*after
  box-sizing inherit

disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfixafter
    content ""
    display block
    clear both

a
  -webkit-text-decoration-skip ink
  text-decoration-skip ink

.visuallyhiddennot(focus)not(active)
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip-path inset(100%)
  clip rect(0 0 0 0)
  overflow hidden

.svg-sprite
  display none

body
  font-family font-family-reg
  font-size 17px
  line-height 31px
  color xgrey
  display flex
  min-height 100vh
  flex-direction column
  +below(1450px)
    font-size 15px
    line-height 29px
  +below(750px)
    font-size 14px
    line-height 25px

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  margin 0 0 25px
  font-weight 600
  letter-spacing 0px
  word-spacing 0px
  font-family font-family-sec
  line-height normal
  color #333232
  &:last-child
    margin-bottom 0

.h0
  font-size 62px
  letter-spacing 2px
  +below(1450px)
    font-size 50px
    letter-spacing 1px
  +below(750px)
    font-size 28px

h1,.h1
  font-size 41px
  margin-bottom 20px
  +below(1450px)
    font-size 38px
  +below(750px)
    font-size 28px

h2,.h2
  font-size 38px
  line-height 43px
  letter-spacing -0.7px
  margin-bottom 20px
  letter-spacing 1.3px
  +below(750px)
    font-size 28px
    letter-spacing 0

h3,.h3
  font-size 36px
  letter-spacing 1px
  margin-bottom 32px
  +below(750px)
    font-size 28px
    letter-spacing 0

h4,.h4
  font-size 30px
  line-height 40px
  letter-spacing 0.6px
  word-spacing 2.3px
  +below(1450px)
    font-size 28px
    line-height 32px
  +below(750px)
    font-size 24px
    letter-spacing 0
    line-height 30px

h5,.h5
  font-size 24px
  line-height 26px
  letter-spacing -0.2px
  +below(1450px)
    font-size 20px
    letter-spacing 0
  +below(480px)
    font-size 18px

h6,.h6
  font-weight 700
  margin-bottom 5px
  font-size inherit

p + .h5
  margin-top 30px

a
  color blue
  text-decoration none
  transition all 0.3s
  &:hover
    color xgrey
