width-reg = 1210px
width-sm = 840px

blue = #16bba9

grey = #88898c
xgrey = #6a6a6a
xxgrey = #383838
xxxgrey = #4b4b4b

red = #f83e3e

font-family-reg = 'Open Sans', sans-serif;
font-family-sec = 'Raleway', 'Open Sans', sans-serif;