mixin modals()
  div(style="display:none;")
    .box-modal.modal.modal--video#modal-video
      .modal__close.close X
      video.video(controls)
        source(src="assets/uploads/video.mp4" type="video/mp4")

    .box-modal.modal#modal-program
      .modal__close.close X
      .modal__content
        p Please confirm you are a human and we will redirect you to the Hiscox Appetite Guide. Explore it, it's comprehensive and full of detail. 
          a.tel(href="https://www.hiscox.com/partner-agent/simonagency/appetite-guide" target="_blank") I'm Human

    .box-modal.modal.modal--question#modal-question
      .modal__close.close X
      .question-text

    .box-modal.modal#modal-sender-client
      .modal__close.close X
      .modal__content
        h5 Top 6 Reasons Clients Complete Applications Themselves
        ul.list-check
          li Clients complete it from the comfort of their own environment
          li It’s easy, It’s fast, It’s online
          li Their broker is standing by if any questions
          li Mobile, tablet and desktop device friendly
          li NO PAPERWORK!
          li Their broker is cc’d on all correspondence
        button.btn.js-step4-to-client(type="button") CONTINUE

    .box-modal.modal.modal--md#modal-forgot
      .modal__close.close X
      .modal__content.text-center
        h5.text-center Retrieve Registered Email
        p Please call us if you need any help&nbsp;
          a.tel(href="tel:1-516-214-8618") 1-516-214-8618
        form.form.form--forgot(action="" onsubmit="return false;" method='POST')
          .input-wrap
            input.input(type="email" placeholder="Enter your email" name="reset_broker_id" required)
          .submit-wrap
            button.btn#forgetBrokerIdBtn(type="submit") Send my Broker ID

    .box-modal.modal#modal-companies
      .modal__close.close X
      .modal__content.text-center
        +b.companies-list.layout-col3
          +e.item Adirondack Ins.
          +e.item Amtrust
          +e.item Applied Undr
          +e.item Associated Mutual
          +e.item C.N.A Ins. Co.
          +e.item Dongbu Ins. Co.
          +e.item Employers
          +e.item Hiscox
          +e.item Hyndai Ins. Co.
          +e.item Interboro Ins. Co.
          +e.item Kensingtone Ins.
          +e.item Kingstone Ins.
          +e.item Lancer Indemnity
          +e.item Mountain Valley
          +e.item Narragansett Bay
          +e.item New Jersey Skylands
          +e.item National General
          +e.item Ocean Harbor Ins.
          +e.item OTSEGO
          +e.item Seneca Ins.
          +e.item Stillwater Ins.
          +e.item Travelers Select
          +e.item U.S. Liability Ins.
          +e.item U.S. Underwriters
          +e.item UPC
          +e.item Utica Insurance
          +e.item Wesco
          +e.item Ace/Chubb/Westchester
          +e.item WKF & C Agency. Inc
          +e.item Wright National Flood

    .box-modal.modal#errorOccured
      .modal__close.close X
      .modal__content
        p Sorry an error occurred while processing. Please try again later.

    .box-modal.modal#wrongBrokerEmail
      .modal__close.close X
      .modal__content
        p.mb0 The provided email address has not been registered.
        p
          | Please call 
          a.tel(href='tel:1-516-214-8618') 1-516-214-8618
          |.

    .box-modal.modal#checkYourEmail
      .modal__close.close X
      .modal__content
        p Please check our email.

    .box-modal.modal#instantQuoteLink
      .modal__close.close X
      .modal__content
        p Hello&nbsp;
          span#modalBrokerName
          |,&nbsp;please confirm you are a human. &nbsp;
          span#modalLink

    .box-modal.modal#contactUs
      .modal__close.close X
      .modal__content
        p Thank you for contacting us, we will reach out to you shortly

    .box-modal.modal#selectIndustry
      .modal__close.close X
      .modal__content
        | Please select the industry your client represents to view State availability

    .box-modal.modal#processQuoteCompleteYourSelf
      .modal__close.close X
      .modal__content
        p We just emailed you the Acords and or Supplements that have to be completed to process your quote.  Give us a call if you should have any questions when reviewing them. Check your email.

    .box-modal.modal#processQuoteSendToClient
      .modal__close.close X
      .modal__content
        p Check your email for a copy of the Digital Application Link we just sent to your client. This quote, bind and issue application provides access to 150+ markets for BOP, PL and GL.

    .box-modal.modal#selectState
      .modal__close.close X
      .modal__content
        | Please choose State

    .box-modal.modal#selectIndustry4
      .modal__close.close X
      .modal__content
        | Please choose industry

    .box-modal.modal#selectIndustry2
      .modal__close.close X
      .modal__content
        | Please choose industry first

    .box-modal.modal#selectProducts
      .modal__close.close X
      .modal__content
        | Please choose your product
    .box-modal.modal#uploadPdf
      .modal__close.close X
      .modal__content
        | Done!

    .box-modal.modal#risksWeCover
      .modal__close.close X
      .modal__content
        h4.h4 Risks We Cover
        ul.risks
          li Architecture
          li Building/construction inspection
          li Civil engineering
          li Control systems integration/automation
          li Draftsman (including CAD/CAM)
          li Electrical engineering
          li Engineering
          li Engineering design services
          li Environmental engineering
          li Industrial engineering
          li Landscape architect
          li Process engineering
          li Project manager (architecture or engineering)
          li Transportation engineering

    .box-modal.modal#submitBrokerAppointment
      .modal__close.close X
      .modal__content
        p Thank you. We received your submission and just emailed you a copy for your records with confirmation of our scheduled call date and time.


