.arcticmodal-overlay,.overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }
.overlay,.arcticmodal-overlay
    background-color #000
    opacity 0.45!important

.arcticmodal-container_i2
    +below(480px)
        padding: 10px;

.overlay
    display none
    z-index 900
.close
    width: 47px;
    height: 47px;
    background: #fff;
    line-height: 47px;
    text-align: center;
    border-radius: 50%;
    color: #4f4f4f;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s
    +below(480px)
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
    &:hover
        color #ffffff
        background: #1e1e1e
    &--dark
        background: #707070
        color #ffffff
        &:hover
            background: blue
.modal
    background: #fff;
    position relative
    padding: 30px 40px;
    line-height: 28px;
    max-width: 855px;
    &__header
        border-bottom 1px solid grey
        padding-bottom: 20px;
        .h4
            font-size 31px
    .btn
        min-width: 140px;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
        +below(350px)
            font-size: 16px;
    .input
        padding: 14px 20px;
        &--time
            padding: 14px 20px 14px 50px;
    &__close
        position: absolute;
        right: -22px;
        top: -22px;
        z-index: 1;        
        +below(655px)
            right: 0px;
            top: 0px;
        +below(480px)
            right: -8px;
            top: -10px;

    &--video
        padding: 3px;
        max-width: 100vw;
        &--video
            max-width: 100%;

    &--question
        max-width: 330px;
        padding: 15px 30px;

    &--appointment
        padding-bottom: 20px

    &--md
        max-width: 450px;
        padding: 38px 34px;
        +below(350px)
            padding 34px 30px;

    +below(480px)
        padding: 20px 15px;
        line-height: 22px;


.js-datetimepicker
    position: absolute
    display: none;
    z-index: 2
    top: 100%
    left 0

#modal-forgot a.tel
    white-space nowrap
